PyPi-Info.flow
[{"id":"0c4c68fb351df5f5","type":"tab","label":"Pi-Info gather V0.2.0","disabled":false,"info":"","env":[]},{"id":"23c19b174b7b4f81","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"fc53bb528124ae68","type":"tab","label":"Create database","disabled":false,"info":"","env":[]},{"id":"e5cd12572bbf78ee","type":"group","z":"0c4c68fb351df5f5","name":"","style":{"fill":"#ffff7f","label":true},"nodes":["00f8c89fb5c168f1","ca9363fbc631c75f","b94154be67ea37ab","3206ba8f4a3d1298","f4b8928438b9bd34","04e5eae06f7ad195","83a97db12d4e2781","cf85b85915a2ac0d","ea0de37adb6ecb7a","4909f95f852dca9d","e1e93d6cbe29f0ed","1238936ac0ae3a1f","e93f2a7c2a93b908","3b3b59c10ba40e6f","5f13d6d93d57f73d","d38bee7c0edde477","349bde1989ca6817","4cf50eb122154f07","4e36fb9cac259896","4453535a1ece5df7","5f6908328a7a2930","ae7172e854753b19"],"x":94,"y":19,"w":952,"h":382},{"id":"eb69eba0546a57fe","type":"group","z":"0c4c68fb351df5f5","name":"","style":{"fill":"#ff7f7f","label":true},"nodes":["357d2685d9a892c3","4ec131dd5b51f749","1c97802fcf3626fb"],"x":814,"y":439,"w":212,"h":162},{"id":"25c62ebe733c05cb","type":"group","z":"0c4c68fb351df5f5","name":"","style":{"fill":"#ffdf7f","label":true},"nodes":["ddd8f5144f23a61c","bf5ffd52a07814a7","b38c71b3976a429c","65849a433006f29a","3bd36552943662f4","b6eb2ed1b240cbea","af5ee2e66f32d081","e67e9e271d46aaa1","3a2eddcf150cb883","b907902544d37efb","220e34fe6bc8fe37","9a3a9ba3623efe7c"],"x":94,"y":1179,"w":892,"h":282},{"id":"c3efd75ee41c62a0","type":"group","z":"fc53bb528124ae68","name":"","style":{"fill":"#ff3f3f","label":true},"nodes":["0558ff92e77f1bd6"],"x":154,"y":59},{"id":"f9e90dec5319f5ed","type":"group","z":"0c4c68fb351df5f5","name":"","style":{"fill":"#ffdf7f","label":true},"nodes":["d9abcb4457667b1e","9472581dba11c440","3271a4f093ef6f66","a6d21704a8d5666b","1f17709bdf74ca8e","974f29b1fe0e2d36","765703174e61408a","726b6a569bd5f226"],"x":94,"y":419,"w":692,"h":222},{"id":"a5480e0a8e5a4648","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fc280b0a645350ec","type":"mqtt-broker","name":"","broker":"mqttpizw.local","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"47186c71.905e34","type":"sqlitedb","db":"/home/pi/.pypiinfo/pypi.db","mode":"RWC"},{"id":"cac60a175231d699","type":"ui_group","name":"show all P's","tab":"db35f1a66def126a","order":2,"disp":false,"width":"14","collapse":false,"className":""},{"id":"db35f1a66def126a","type":"ui_tab","name":"MainScreen","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"0c3de45502747074","type":"ui_tab","name":"HostDetails","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7ecd398a5f99024d","type":"ui_group","name":"Details","tab":"0c3de45502747074","order":1,"disp":false,"width":"12","collapse":false,"className":""},{"id":"00f8c89fb5c168f1","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"hostname","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hostname\": \"hostname\"}","payloadType":"json","x":720,"y":100,"wires":[["e93f2a7c2a93b908"]]},{"id":"ca9363fbc631c75f","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"node-red","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"nodered\":\"node-red -?\"}","payloadType":"json","x":380,"y":220,"wires":[["e93f2a7c2a93b908"]]},{"id":"b94154be67ea37ab","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"osrelease","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"osrelease\":\"lsb_release -c\"}","payloadType":"json","x":560,"y":220,"wires":[["e93f2a7c2a93b908"]]},{"id":"3206ba8f4a3d1298","type":"mqtt in","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"","topic":"pypi_info/command/#","qos":"2","datatype":"auto","broker":"fc280b0a645350ec","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":360,"wires":[["f4b8928438b9bd34"]]},{"id":"f4b8928438b9bd34","type":"debug","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"04e5eae06f7ad195","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"grafana","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"grafana\": \"grafana -v\"}","payloadType":"json","x":550,"y":100,"wires":[["e93f2a7c2a93b908"]]},{"id":"83a97db12d4e2781","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"netatalk","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"netatalk\": \"netatalk -v\"}","payloadType":"json","x":910,"y":160,"wires":[["e93f2a7c2a93b908"]]},{"id":"cf85b85915a2ac0d","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"influx","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"influx\": \"influx -version\"}","payloadType":"json","x":910,"y":100,"wires":[["e93f2a7c2a93b908"]]},{"id":"ea0de37adb6ecb7a","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"IP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ip\": \"hostname -I\"}","payloadType":"json","x":190,"y":160,"wires":[["e93f2a7c2a93b908"]]},{"id":"4909f95f852dca9d","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"Date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"last_seen\":\"date +\\\"%Y-%m-%d %T\\\"\"}","payloadType":"json","x":190,"y":100,"wires":[["e93f2a7c2a93b908"]]},{"id":"e1e93d6cbe29f0ed","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temperature\": \"/opt/vc/bin/vcgencmd measure_temp\"}","payloadType":"json","x":390,"y":280,"wires":[["e93f2a7c2a93b908"]]},{"id":"1238936ac0ae3a1f","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"memory","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"memory\": \"free\"}","payloadType":"json","x":380,"y":160,"wires":[["e93f2a7c2a93b908"]]},{"id":"e93f2a7c2a93b908","type":"link out","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"to Run Command","mode":"link","links":["3271a4f093ef6f66"],"x":390,"y":360,"wires":[],"l":true},{"id":"3b3b59c10ba40e6f","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"model","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"model\":\"cat /proc/device-tree/model\"}","payloadType":"json","x":550,"y":160,"wires":[["e93f2a7c2a93b908"]]},{"id":"5f13d6d93d57f73d","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"mosquitto","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mosquitto\": \"mosquitto -h\"}","payloadType":"json","x":740,"y":160,"wires":[["e93f2a7c2a93b908"]]},{"id":"d38bee7c0edde477","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"python3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"python3\": \"python3 --version\"}","payloadType":"json","x":920,"y":220,"wires":[["e93f2a7c2a93b908"]]},{"id":"349bde1989ca6817","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"nginx","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"nginx\": \"nginx -v\"}","payloadType":"json","x":190,"y":220,"wires":[["e93f2a7c2a93b908"]]},{"id":"4cf50eb122154f07","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"php","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"php\":\"php -v\"}","payloadType":"json","x":730,"y":220,"wires":[["e93f2a7c2a93b908"]]},{"id":"4e36fb9cac259896","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"sqlite3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sqlite3\":\"sqlite3 -version\"}","payloadType":"json","x":190,"y":280,"wires":[["e93f2a7c2a93b908"]]},{"id":"ddd8f5144f23a61c","type":"inject","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"manual run","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1380,"wires":[["bf5ffd52a07814a7"]]},{"id":"4453535a1ece5df7","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"disk","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"disk\": \"df /\"}","payloadType":"json","x":370,"y":100,"wires":[["e93f2a7c2a93b908"]]},{"id":"bf5ffd52a07814a7","type":"function","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"Setup data for inserts","func":"let hosts = flow.get(\"hostnames\")||[]\nlet piData = {}\nlet data = {}\nlet mem = {}\nlet disk = {}\n\n\nhosts.forEach(hostname => {\n   piData = flow.get(hostname)||{}\n   // build the database record\n   msg.hostname          = piData.hostname       \n   data.hostname         = piData.hostname       \n   data.last_seen        = d1.getTime()  \n   data.ip               = piData.ip\n   data.model            = piData.model\n   data.osrelease        = piData.osrelease\n   data.temperature      = piData.temperature\n\n   memory = piData.memory\n   data.mem_available    = memory.mem.available\n   data.mem_buff_cache   = memory.mem.buff_cache\n   data.mem_free         = memory.mem.free       \n   data.mem_shared       = memory.mem.shared\n   data.mem_total        = memory.mem.total\n   data.mem_used         = memory.mem.used\n   data.used_total       = memory.swap.total\n   data.used_free        = memory.swap.free    \n   data.used_swap        = memory.swap.used  \n\n   disk = piData.disk\n   data.disk_size        = disk.size\n   data.disk_used        = disk.used\n   data.disk_avaliable   = disk.avaliable \n   data.disk_percentused = disk.percentused\n\n   data.grafana          = piData.grafana\n   data.influx           = piData.influx\n   data.mosquitto        = piData.mosquitto\n   data.netatalk         = piData.netatalk\n   data.nginx            = piData.nginx\n   data.nodered          = piData.nodered\n   data.php              = piData.php\n   data.python3          = piData.python3\n   data.sqlite3          = piData.sqlite3\n  \n   msg.data = data\n\n // operation\n   node.send(msg)\n});\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1340,"wires":[["3bd36552943662f4","e67e9e271d46aaa1","3a2eddcf150cb883","b907902544d37efb","7621617f08b3a67b"]]},{"id":"b38c71b3976a429c","type":"sqlite","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","mydb":"47186c71.905e34","sqlquery":"msg.topic","sql":"","name":"Replace/Insert nodes","x":860,"y":1340,"wires":[["65849a433006f29a","b6eb2ed1b240cbea"]]},{"id":"65849a433006f29a","type":"link out","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"Go Update Dashboard","mode":"link","links":["fa7a2d72a2e2f080"],"x":860,"y":1400,"wires":[],"l":true},{"id":"3bd36552943662f4","type":"template","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"REPLACE INTO piInfo","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"REPLACE INTO piInfo (\n    hostname, \n    last_seen,\n    ip,\n    model,\n    osrelease,\n    temperature,\n    disk_percentused\n    )\nVALUES (\n    \"{{data.hostname}}\",\n     {{data.last_seen}},\n    \"{{data.ip}}\",\n    \"{{data.model}}\",\n    \"{{data.osrelease}}\",\n     {{data.temperature}},\n    \"{{data.disk.percentused}}\"\n);","output":"str","x":520,"y":1260,"wires":[["b38c71b3976a429c","6046af94b93fa0dd"]]},{"id":"b6eb2ed1b240cbea","type":"debug","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":1280,"wires":[]},{"id":"357d2685d9a892c3","type":"catch","z":"0c4c68fb351df5f5","g":"eb69eba0546a57fe","name":"","scope":null,"uncaught":false,"x":920,"y":520,"wires":[["4ec131dd5b51f749"]]},{"id":"4ec131dd5b51f749","type":"debug","z":"0c4c68fb351df5f5","g":"eb69eba0546a57fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":560,"wires":[]},{"id":"af5ee2e66f32d081","type":"link in","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"Load to SQLite","links":["a6d21704a8d5666b"],"x":220,"y":1300,"wires":[["bf5ffd52a07814a7"]],"l":true},{"id":"e67e9e271d46aaa1","type":"template","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"INSERT INTO memory","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO memory (\n    hostname, \n    last_seen,\n    available_mem,\n    buff_cache,\n    free_mem,\n    shared_mem,\n    totalmem,\n    used_mem,\n    free_swap,\n    total_swap,\n    used_swap\n    )\nVALUES (\n    \"{{data.hostname}}\",\n     {{data.last_seen}},\n     {{data.mem_available}},\n     {{data.mem_buff_cache}},\n     {{data.mem_free}},\n     {{data.mem_shared}},\n     {{data.mem_total}},\n     {{data.mem_used}},\n     {{data.used_total}},\n     {{data.used_free}},\n     {{data.used_swap}}\n);","output":"str","x":520,"y":1340,"wires":[["b38c71b3976a429c"]]},{"id":"3a2eddcf150cb883","type":"template","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"INSERT INTO diskspace","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO diskspace (\n    hostname, \n    last_seen,\n    disk_size,\n    disk_used,\n    disk_avaliable,\n    disk_percentused\n    )\nVALUES (\n    \"{{data.hostname}}\",\n     {{data.last_seen}},\n     {{data.disk_size}},\n     {{data.disk_used}},\n     {{data.disk_avaliable}},\n    \"{{data.disk_percentused}}\"\n);","output":"str","x":530,"y":1300,"wires":[["b38c71b3976a429c"]]},{"id":"b907902544d37efb","type":"template","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"INSERT INTO temperature","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO temperature (\n    hostname, \n    last_seen,\n    temperature\n    )\nVALUES (\n    \"{{data.hostname}}\",\n     {{data.last_seen}},\n     {{data.temperature}}\n)","output":"str","x":540,"y":1380,"wires":[["b38c71b3976a429c"]]},{"id":"5f6908328a7a2930","type":"comment","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"for monitoring out going MQTT msgs","info":"","x":810,"y":320,"wires":[]},{"id":"ae7172e854753b19","type":"comment","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"These are the commands for testing","info":"","x":280,"y":60,"wires":[]},{"id":"1c97802fcf3626fb","type":"comment","z":"0c4c68fb351df5f5","g":"eb69eba0546a57fe","name":"Error Collection","info":"","x":920,"y":480,"wires":[]},{"id":"220e34fe6bc8fe37","type":"comment","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"Get the flow items and create the database inserts and store in tables","info":"","x":390,"y":1220,"wires":[]},{"id":"4f4ed7c823864531","type":"ui_ui_control","z":"0c4c68fb351df5f5","name":"","events":"all","x":180,"y":1720,"wires":[["53bb82398e4b5a10"]]},{"id":"a168ddceda184c5a","type":"ui_template","z":"0c4c68fb351df5f5","group":"cac60a175231d699","name":"CSS for colors2","order":2,"width":"0","height":"0","format":"<style>\n    .nr-dashboard-cardpanel {\n        border: 1px solid black;\n    }\n\n    .nr-dashboard-cardpanel > p {\n        text-align: center;\n        color: #000 !important;\n    }\n    .device_offline {\n        xbackground-color: #fcf2ba;\n        xbackground-color: #ff6457;\n        background-color: #ffa0a8;\n    }\n    .device_online {\n        background-color: #dcffcc; \n        color: #000000;\n    }\n    .warning_color {\n        background-color: #f3ffb8;\n    }\n    .warning_red {\n        background-color: #ff0000;\n    }\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":200,"y":1840,"wires":[[]]},{"id":"0384583a22cab770","type":"change","z":"0c4c68fb351df5f5","name":"No data available","rules":[{"t":"set","p":"payload","pt":"msg","to":"No data available","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1720,"wires":[["d9ba37019231584f"]]},{"id":"49f4e73109719f8e","type":"ui_template","z":"0c4c68fb351df5f5","group":"cac60a175231d699","name":"Raspberry Pi devices2","order":1,"width":"12","height":"10","format":"<div id=\"et_home\">\n<h2 style=\"text-align: center;\">PyPI Display Home </h2>\n<p style=\"text-align: center;\">List of Raspberry Pi's found on your LAN<p>\n<p style=\"text-align: center;\">Click on a 'Hostname' will get you details of that device<p>\n<p style=\"text-align: center;\">Click on a 'IP' will attempt to open Node-RED on that Pi<p>\n\n<br/>\n<table id=\"table\" border=\"1\">\n    <tr>\n        <th>Hostname</th> \n        <th>IP</th> \n        <th>Last Seen</th> \n        <th>Model</th>\n        <th>OS</th>\n        <th>Disk Used</th>\n        <th>Temperature</th>\n    </tr>\n    <tbody style=\"text-align: center\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td ng-if=\"x.device_status ==  'database is empty'\" class=\"warning_red\" >DATABASE IS EMPTY</td>\n\n            <td ng-if='x.device_status ==  1' class=\"device_online\"> \n                <md-button ng-click=\"send({host: x.hostname})\">{{x.hostname}}</md-button>\n            </td>\n            <td ng-if='x.device_status ==  0' class=\"device_offline\"> \n                <md-button ng-click=\"send({host: x.hostname})\">{{x.hostname}}</md-button>\n            </td>\n\n            <td ng-if='x.device_status ==  1' class=\"device_online\" ><a href=\"http://{{x.ip}}:1880\" target=\"_blank\"> {{x.ip}} </a></td>\n            <td ng-if='x.device_status ==  0' class=\"device_offline\" >        {{x.ip}}</td>\n\n            <td ng-if='x.device_status ==  1' class=\"device_online\"  >{{x.last_seen_text}} </td>\n            <td ng-if='x.device_status ==  0' class=\"device_offline\" >{{x.last_seen_text}} </td>\n\n            <td ng-if='x.device_status ==  1' class=\"device_online\"  >{{x.model}} </td>\n            <td ng-if='x.device_status ==  0' class=\"device_offline\" >{{x.model}} </td>\n\n\n            <td ng-if='x.device_status ==  1' class=\"device_online\"  >{{x.osrelease}} </td>\n            <td ng-if='x.device_status ==  0' class=\"device_offline\" >{{x.osrelease}} </td>\n\n\n            <td ng-if='x.device_status ==  1' class=\"device_online\"  >{{x.disk_percentused}} </td>\n            <td ng-if='x.device_status ==  0' class=\"device_offline\" >{{x.disk_percentused}} </td>\n\n            <td ng-if='x.device_status ==  1' class=\"device_online\"  >{{x.temperature}} </td>\n            <td ng-if='x.device_status ==  0' class=\"device_offline\" >{{x.temperature}} </td>\n\n         </tr>\n    </tbody>\n</table>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":440,"y":1800,"wires":[["8a54b0c907eaa2f2","a3ea9d3bfd803f9e"]]},{"id":"d9ba37019231584f","type":"ui_toast","z":"0c4c68fb351df5f5","d":true,"position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":830,"y":1760,"wires":[[]]},{"id":"53bb82398e4b5a10","type":"function","z":"0c4c68fb351df5f5","name":"Setup data for main dashboard","func":"let payloads = msg.payload\n\n// get the list of known hosts \nlet hosts = flow.get(\"hostnames\")||[]\n\nlet data = {}\nlet mem = {}\nlet disk = {}\nconst hostArray =[] // this will be sent to the dashboard\n\n// combine all flow.\"hostname\" objects into one\nhosts.forEach(hostname => {\n    var piData = flow.get(hostname)||{}\n    piData.device_status = 1  // set pi status to active\n\n    // convert last_seen to a string and add it to object\n    let d = new Date(piData.last_seen);\n    let last_seen_time = d.getTime();\n    piData.last_seen_text = d.toLocaleString(\"en-US\")\n\n    // get current time - 10 minutes\n    var interval_limit = new Date().getTime() - 600000;\n\n    // if pi hasn't been seen in over an hour set status out of service\n    if (interval_limit > last_seen_time) piData.device_status = 0\n\n    piData.disk_percentused = piData.disk_percentused\n\n    // push the host data into data array tobe sent to the ui-template\n    hostArray.push(piData)\n    });\n\nmsg.payload = hostArray\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1700,"wires":[["49f4e73109719f8e"]]},{"id":"e702f26508017a94","type":"inject","z":"0c4c68fb351df5f5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1640,"wires":[["53bb82398e4b5a10","a14fa7c29e3a8db5"]]},{"id":"8a54b0c907eaa2f2","type":"debug","z":"0c4c68fb351df5f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1800,"wires":[]},{"id":"fa7a2d72a2e2f080","type":"link in","z":"0c4c68fb351df5f5","name":"Update Dashboard","links":["65849a433006f29a","ac08df42a84ecb1a","2c32eda9695f32d7","2862d666b212a15f"],"x":210,"y":1680,"wires":[["4f4ed7c823864531"]],"l":true},{"id":"7f5042d968084142","type":"ui_button","z":"0c4c68fb351df5f5","name":"","group":"cac60a175231d699","order":3,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":1760,"wires":[["53bb82398e4b5a10"]]},{"id":"393ad4af600a8b71","type":"mqtt in","z":"0c4c68fb351df5f5","name":"","topic":"pypi_info/results/#","qos":"2","datatype":"json","broker":"fc280b0a645350ec","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":720,"wires":[["67dad462f8ffabf4","5ea0adf8a53edbfb","6c3f2ab2791e71d4","0c6869560aa1a6c2"]]},{"id":"d556cd55a1936ded","type":"change","z":"0c4c68fb351df5f5","name":"payload = stdout","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.stdout","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":860,"wires":[["e4d48aaa9edd9ade","f6fea9b69cd93ba9"]]},{"id":"e4d48aaa9edd9ade","type":"debug","z":"0c4c68fb351df5f5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":940,"wires":[]},{"id":"8e0f177aa11189b8","type":"change","z":"0c4c68fb351df5f5","name":"payload = not installed","rules":[{"t":"set","p":"payload","pt":"msg","to":"not installed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":820,"wires":[["2893b0efbf35cc1c"]]},{"id":"c71da32c02c2fc8e","type":"switch","z":"0c4c68fb351df5f5","name":"stdout empty?","property":"payload.stdout","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":220,"y":840,"wires":[["8e0f177aa11189b8"],["d556cd55a1936ded"]]},{"id":"2893b0efbf35cc1c","type":"debug","z":"0c4c68fb351df5f5","name":"NOT FOUND","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":760,"wires":[]},{"id":"6c3f2ab2791e71d4","type":"change","z":"0c4c68fb351df5f5","name":"set msg.hostname and msg.command","rules":[{"t":"set","p":"hostname","pt":"msg","to":"payload.hostname","tot":"msg"},{"t":"set","p":"command","pt":"msg","to":"payload.command","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":780,"wires":[["c71da32c02c2fc8e"]]},{"id":"042f4df94900d69f","type":"debug","z":"0c4c68fb351df5f5","name":"Parsed results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1160,"y":820,"wires":[]},{"id":"d59536e2db60076e","type":"function","z":"0c4c68fb351df5f5","name":"Parse results ","func":"// model to store in DB\nlet hostname = msg.hostname\nlet command = msg.command\nlet payload = msg.payload\nlet host = flow.get(hostname)||{}\n\nmsg.payload = payload\nhost[command] = payload;\nflow.set(hostname, host)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":740,"wires":[["042f4df94900d69f"]]},{"id":"0c6869560aa1a6c2","type":"function","z":"0c4c68fb351df5f5","name":"Build flow.hostnames array","func":"// get the hostnames array from context\nlet hostnames = flow.get('hostnames')||[]\n\n// get current hostname\nlet hostname = msg.payload.hostname\n\n// push the current name onto the array\nhostnames.push(hostname);\n\n// remove duplicate hostnames\nlet uniqueNames = [...new Set(hostnames)];\n\n// save the hostnames array)\nflow.set('hostnames', uniqueNames)\nhostnames = flow.get('hostnames')\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":720,"wires":[[]]},{"id":"a61972398859eff1","type":"switch","z":"0c4c68fb351df5f5","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"hostname","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":700,"wires":[["0c6869560aa1a6c2"]]},{"id":"6fa3a0410f7da50b","type":"function","z":"0c4c68fb351df5f5","name":"Parse Piinfo","func":"// This function will build a piinfo table entry once all\n// the required data has has been  received\nlet hostname = msg.hostname\nlet command = msg.command\nlet payload = msg.payload\nlet host = flow.get(hostname)||{}\nlet items = 0\n\nif(host.hasOwnProperty(\"ip\")) items++\nif(host.hasOwnProperty(\"model\")) items++\nif(host.hasOwnProperty(\"disk_percentused\")) items++\nif(host.hasOwnProperty(\"disk_percentused\")) items++\nif(host.hasOwnProperty(\"temperature\")) items++\n\n// format commands that have extra text in their responses\nswitch(command) {\n   case \"hostname\":\n        payload = hostname;\n        items--\n        break;\n\n     case \"ip\":\n        payload = payload.replace(/ \\n/g, '');\n        break;\n\n    case \"last_seen\":\n        payload = Date.parse(payload);\n        break;\n\n    case \"model\":\n        payload = payload.slice(0, -1);\n        payload = payload.toString();\n        payload = payload.replace(\"Raspberry \",\"\");\n        break;\n \n    case \"osrelease\":\n        payload = payload.replace('Codename:', '');\n        payload = payload.trim();\n        break;\n \n    case \"temperature\":\n        payload = payload.split(\"=\")[1];\n        payload = payload.replace(/\\n/g,\"\");\n        payload = payload.replace(\"'C\", \"\");\n        payload = parseFloat(payload)\n        break;\n\n    default:\n        break;\n}\n\nconst d1 = new Date();\nhost['last_seen']   = d1.getTime();\n\nmsg.payload = payload\nhost[command] = payload;\nflow.set(hostname, host)\nmsg.data = host\n\n//if all itesf found, write out the piinfo record\nif (items < 5) return\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":820,"wires":[["042f4df94900d69f","3bd36552943662f4"]]},{"id":"c934b64c919d733c","type":"comment","z":"0c4c68fb351df5f5","name":"Parse the results returned from MQTT and store ther results in some flow variables","info":"","x":510,"y":680,"wires":[]},{"id":"d9abcb4457667b1e","type":"function","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"Format MQTT topic/data","func":"const cmds = msg.payload;\n//Object.values(cmds).forEach( cmd => {\n//  msg.product = cmd;\n//  msg.payload = cmd;\n//  node.send(msg);\n//});\nObject.entries(cmds).forEach(entry => {\n  const [software, cmd] = entry;\n  msg.software = software;\n//  msg.payload = cmd;\n  msg.topic = 'pypi_info/command'+\"/\"+msg.software\n  node.send(msg);\n});\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":600,"wires":[["9472581dba11c440"]]},{"id":"9472581dba11c440","type":"mqtt out","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fc280b0a645350ec","x":710,"y":600,"wires":[]},{"id":"3271a4f093ef6f66","type":"link in","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"Run Command","links":["e93f2a7c2a93b908","4cdb05881444d3b0"],"x":260,"y":600,"wires":[["d9abcb4457667b1e"]],"l":true},{"id":"a6d21704a8d5666b","type":"link out","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"to Load to SQLite","mode":"link","links":["af5ee2e66f32d081"],"x":650,"y":560,"wires":[],"l":true},{"id":"1f17709bdf74ca8e","type":"comment","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"Publish commands to MQTT so devices with pypi-info installed will reply","info":"","x":380,"y":460,"wires":[]},{"id":"974f29b1fe0e2d36","type":"trigger","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"","op1":"koad to sqlite","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":470,"y":560,"wires":[["a6d21704a8d5666b"]]},{"id":"ec114ec7de776068","type":"switch","z":"0c4c68fb351df5f5","name":"payload empty?","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":1740,"wires":[["0384583a22cab770"],["49f4e73109719f8e"]]},{"id":"d7c9412e01eae7ac","type":"comment","z":"0c4c68fb351df5f5","name":"Get data from the flow variables and display it on the dashboard","info":"","x":530,"y":1620,"wires":[]},{"id":"67dad462f8ffabf4","type":"switch","z":"0c4c68fb351df5f5","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"testpi","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":740,"wires":[[]]},{"id":"4d296db7fd15d8af","type":"inject","z":"0c4c68fb351df5f5","name":"delete FLOW context","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":2020,"wires":[["1965f0169c56d258"]]},{"id":"1965f0169c56d258","type":"function","z":"0c4c68fb351df5f5","name":"","func":"\n// get the list of known hosts \nlet hosts = flow.get(\"hostnames\")||[]\nnode.warn(hosts)\n//let data = {}\n//let mem = {}\n//let disk = {}\n\n// combine all flow.\"hostname\" objects into one\nhosts.forEach(hostname => {\n    var piData = flow.get(hostname)||{}\n    flow.set(hostname, undefined)    \n    \n});\n\nflow.set(\"hostnames\",undefined)\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2020,"wires":[["df7e212454721cc0","c3aabe7f27e3704c"]]},{"id":"75c977bc75743da7","type":"debug","z":"0c4c68fb351df5f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":2020,"wires":[]},{"id":"df7e212454721cc0","type":"change","z":"0c4c68fb351df5f5","name":"","rules":[{"t":"delete","p":"payload","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2020,"wires":[["75c977bc75743da7"]]},{"id":"b29bc6c698f5138e","type":"ui_template","z":"0c4c68fb351df5f5","d":true,"group":"cac60a175231d699","name":"CSS for colors2","order":2,"width":"0","height":"0","format":"<style>\n    .nr-dashboard-cardpanel {\n        border: 1px solid black;\n    }\n\n    #Home_Enter_the_IP_of_a_GHOST_device_and_press_DELETE_to_delete_it .nr-dashboard-cardcontainer > .visible,\n    #Home_Enter_the_IP_of_a_GHOST_device_and_press_DELETE_to_delete_it {\n        background-color: #ff9393 !important;\n        test-align: center;\n    }\n    .nr-dashboard-cardpanel > p {\n        text-align: center;\n        color: #000 !important;\n    }\n    .device_offline {\n        xbackground-color: #fcf2ba;\n        xbackground-color: #ff6457;\n        background-color: #ffa0a8;\n    }\n    .device_online {\n        background-color: #dcffcc; \n        color: #000000;\n    }\n    .warning_color {\n        background-color: #f3ffb8;\n    }\n    .warning_red {\n        background-color: #ff0000;\n    }\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":270,"y":2120,"wires":[[]]},{"id":"f2386831e893caa5","type":"link out","z":"0c4c68fb351df5f5","name":"to Host Details","mode":"link","links":["36eee8543c16ac3b"],"x":840,"y":1840,"wires":[],"l":true},{"id":"8f5b91992da16fee","type":"change","z":"0c4c68fb351df5f5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"HostDetails\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1840,"wires":[["f2386831e893caa5"]]},{"id":"a3ea9d3bfd803f9e","type":"switch","z":"0c4c68fb351df5f5","name":"","property":"host","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1840,"wires":[[],["8f5b91992da16fee"]]},{"id":"9a3a9ba3623efe7c","type":"template","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"REPLACE INTO software","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"REPLACE INTO software (\n    hostname, \n    last_seen,\n    product,\n    release              \n    )\nVALUES (\n    \"{{data.hostname}}\",\n     {{data.last_seen}},\n    \"{{data.product}}\",\n    \"{{data.release}}\"\n);","output":"str","x":530,"y":1420,"wires":[["b38c71b3976a429c"]]},{"id":"7621617f08b3a67b","type":"debug","z":"0c4c68fb351df5f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":1500,"wires":[]},{"id":"5ea0adf8a53edbfb","type":"debug","z":"0c4c68fb351df5f5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":260,"y":940,"wires":[]},{"id":"f6fea9b69cd93ba9","type":"switch","z":"0c4c68fb351df5f5","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"results/hostname","vt":"str"},{"t":"cont","v":"results/ip","vt":"str"},{"t":"cont","v":"results/last_seen","vt":"str"},{"t":"cont","v":"results/model","vt":"str"},{"t":"cont","v":"results/osrelease","vt":"str"},{"t":"cont","v":"results/disk","vt":"str"},{"t":"cont","v":"results/memory","vt":"str"},{"t":"cont","v":"results/temperature","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":9,"x":670,"y":860,"wires":[["6fa3a0410f7da50b"],["6fa3a0410f7da50b"],["6fa3a0410f7da50b"],["6fa3a0410f7da50b"],["6fa3a0410f7da50b"],["d8379f5cd3f06506","76c2e8270225abe8"],["be276abab45f0f67"],["ceaf14a1270e129a"],["d81697c6e48f9e3a"]]},{"id":"b524b4b3e7fe62ec","type":"debug","z":"0c4c68fb351df5f5","name":"SOFTWARE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":940,"wires":[]},{"id":"d81697c6e48f9e3a","type":"function","z":"0c4c68fb351df5f5","name":"Parse Software","func":"// prep to store in software table\nlet release = msg.payload\n//let topic = msg.topic\nlet product = msg.command\n//let command = topic.split('/')[2]\nlet data = {}\n\n// extract release from results that have extra text in their responses\nswitch(product) {\n   case \"influx\":\n        release = release.replace(/\\n/g,\" \");\n        release = release.split(\" \")[3];\n        break;\n\n    case \"mosquitto\":\n        release = release.replace(/\\n/g,\" \");\n        release = release.split(\" \")[2];\n        break;\n \n    case \"netatalk\": \n        release = release.replace(/\\n/g,\" \");\n        release = release.split(\" -\")[0];\n        release = release.replace('netatalk ', '');\n        break;\n\n    case \"nodered\": \n        release = release.replace(/\\n/g,\" \");\n        release = release.split(\" \")[1];\n        release = release.replace(\"v\",\"\");\n        break;\n\n    case \"osrelease\":\n        release = release.replace('Codename:', '');\n        release = release.trim();\n        break;\n \n    case \"php\":\n        release = release.replace(/\\n/g, '');\n        release = release.split(\" \")[1];\n        break;\n \n    case \"python3\":\n        release = release.replace(/\\n/g, '');\n        release = release.replace('Python ', '');\n        break;\n \n    case \"sqlite3\":\n        release = release.split(\" \")[0];\n        break;\n\n    default:\n        break;\n}\n\nconst d1 = new Date();\n\nmsg.payload = ''\ndata.hostname = msg.hostname\ndata.last_seen = d1.getTime();\ndata.product  = msg.command\ndata.release  = release\n\nmsg.data = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":980,"wires":[["b524b4b3e7fe62ec","9a3a9ba3623efe7c"]]},{"id":"d8379f5cd3f06506","type":"function","z":"0c4c68fb351df5f5","name":"Parse Disk Space","func":"// memory to store in DB\nlet payload = msg.payload\nlet data = {}\ndata.hostname = msg.hostname\nlet host = flow.get(msg.hostname)||{}\n\npayload               = payload.replace(/  +/g, ' ');\npayload               = payload.split(\" \");\ndata.disk_size        = parseInt(payload[7]);\ndata.disk_used        = parseInt(payload[8]);\ndata.disk_avaliable   = parseInt(payload[9]);\ndata.disk_percentused = payload[10];\n\nconst d1 = new Date();\nlet last_seen = d1.getTime();\ndata.last_seen   = last_seen\nhost.disk_percentused = payload[10]\n\nflow.set(msg.hostname, host)\n\nmsg.data = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":860,"wires":[["3a2eddcf150cb883","73a41946cfa10c0f"]]},{"id":"be276abab45f0f67","type":"function","z":"0c4c68fb351df5f5","name":"Parse Memory","func":"// model to store in DB\nlet data = {}\nlet payload = msg.payload\n\ndata.hostname = msg.hostname\nconst d1 = new Date();\ndata.last_seen   = d1.getTime();\n\npayload = payload.replace(/\\n/g,\" \");\npayload = payload.replace(/  +/g, ' ');\npayload = payload.split(\" \");\ndata.mem_total      = parseInt(payload[8]);\ndata.mem_used       = parseInt(payload[9]);\ndata.mem_free       = parseInt(payload[10]);\ndata.mem_shared     = parseInt(payload[11]);\ndata.mem_buff_cache = parseInt(payload[12]);\ndata.mem_available  = parseInt(payload[13]);\ndata.used_total     = parseInt(payload[15]);\ndata.used_free      = parseInt(payload[16]);\ndata.used_swap      = parseInt(payload[17]);\n\nmsg.data = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":900,"wires":[["e67e9e271d46aaa1","73a41946cfa10c0f"]]},{"id":"6046af94b93fa0dd","type":"debug","z":"0c4c68fb351df5f5","name":"PIINFO","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":1140,"wires":[]},{"id":"ceaf14a1270e129a","type":"function","z":"0c4c68fb351df5f5","name":"Parse Temperature","func":"// prep to store in software table\nlet payload = msg.payload\nlet data = {}\nlet hostname = msg.hostname\nlet host = flow.get(hostname)||{}\n\npayload = payload.split(\"=\")[1];\npayload = payload.replace(/\\n/g,\"\");\npayload = payload.replace(\"'C\", \"\");\npayload = parseFloat(payload)\n \n\nconst d1 = new Date();\n//msg.payload = ''\ndata.hostname    = msg.hostname\ndata.last_seen   = d1.getTime();\ndata.temperature = payload\nhost.temperature = payload\nflow.set(hostname, host)\nmsg.data = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":940,"wires":[["b907902544d37efb"]]},{"id":"49b36ba24b6d2c86","type":"function","z":"0c4c68fb351df5f5","name":"Parse all","func":"// model to store in DB\nlet hostname = msg.hostname\nlet command = msg.command\nlet payload = msg.payload\nlet host = flow.get(hostname)||{}\n\n// format commands that have extra text in their responses\nswitch(command) {\n    case \"date\":\n        const d1 = new Date(payload);\n        payload = d1.getTime();\n        break;\n\n    case \"disk\":\n        let disk = {};\n        payload = payload.replace(/  +/g, ' ');\n        payload = payload.split(\" \");\n        disk.size        = parseInt(payload[7]);\n        disk.used        = parseInt(payload[8]);\n        disk.avaliable   = parseInt(payload[9]);\n        disk.percentused = (payload[10]);\n        disk_percentused = (payload[10]);\n        payload = disk;\n       break;\n\n    case \"hostname\":\n        payload = hostname;\n        break;\n\n    case \"influx\":\n        payload = payload.replace(/\\n/g,\" \");\n        payload = payload.split(\" \")[3];\n        break;\n\n    case \"ip\":\n        payload = payload.replace(/ \\n/g, '');\n        break;\n\n    case \"last_seen\":\n        payload = Date.parse(payload);\n        break;\n\n    case \"memory\":\n        let memory = {};\n        memory.mem = {};\n        memory.swap = {};\n        payload = payload.replace(/\\n/g,\" \");\n        payload = payload.replace(/  +/g, ' ');\n        payload = payload.split(\" \");\n        memory.mem.total      = parseInt(payload[8]);\n        memory.mem.used       = parseInt(payload[9]);\n        memory.mem.free       = parseInt(payload[10]);\n        memory.mem.shared     = parseInt(payload[11]);\n        memory.mem.buff_cache = parseInt(payload[12]);\n        memory.mem.available  = parseInt(payload[13]);\n        memory.swap.total     = parseInt(payload[15]);\n        memory.swap.used      = parseInt(payload[16]);\n        memory.swap.free      = parseInt(payload[17]);\n        payload = memory;\n        break;\n\n    case \"mosquitto\":\n        payload = payload.replace(/\\n/g,\" \");\n        payload = payload.split(\" \")[2];\n        break;\n \n    case \"model\":\n        payload = payload.slice(0, -1);\n        payload = payload.toString();\n        payload = payload.replace(\"Raspberry \",\"\");\n        break;\n \n    case \"netatalk\": \n        payload = payload.replace(/\\n/g,\" \");\n        payload = payload.split(\" -\")[0];\n        payload = payload.replace('netatalk ', '');\n        break;\n\n    case \"nodered\": \n        payload = payload.replace(/\\n/g,\" \");\n        payload = payload.split(\" \")[1];\n        payload = payload.replace(\"v\",\"\");\n        break;\n\n    case \"osrelease\":\n        payload = payload.replace('Codename:', '');\n        payload = payload.trim();\n        break;\n \n    case \"php\":\n        payload = payload.replace(/\\n/g, '');\n        payload = payload.split(\" \")[1];\n        break;\n \n    case \"python3\":\n        payload = payload.replace(/\\n/g, '');\n        payload = payload.replace('Python ', '');\n        break;\n \n    case \"sqlite3\":\n        payload = payload.split(\" \")[0];\n        break;\n\n    case \"temperature\":\n        payload = payload.split(\"=\")[1];\n        payload = payload.replace(/\\n/g,\"\");\n        payload = payload.replace(\"'C\", \"\");\n        payload = parseFloat(payload)\n        break;\n\n    default:\n        break;\n}\nmsg.payload = payload\nhost[command] = payload;\nflow.set(hostname, host)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":1060,"wires":[[]]},{"id":"daef4ead23cc496b","type":"function","z":"0c4c68fb351df5f5","d":true,"name":"Parse Disk Space old","func":"// model to store in DB\nlet hostname = msg.hostname\nlet command = msg.command\nlet payload = msg.payload\nlet host = flow.get(hostname)||{}\nlet data = {}\n        let memory = {};\n        memory.mem = {};\n        memory.swap = {};\n        payload = payload.replace(/\\n/g,\" \");\n        payload = payload.replace(/  +/g, ' ');\n        payload = payload.split(\" \");\n        memory.mem.total      = parseInt(payload[8]);\n        memory.mem.used       = parseInt(payload[9]);\n        memory.mem.free       = parseInt(payload[10]);\n        memory.mem.shared     = parseInt(payload[11]);\n        memory.mem.buff_cache = parseInt(payload[12]);\n        memory.mem.available  = parseInt(payload[13]);\n        memory.swap.total     = parseInt(payload[15]);\n        memory.swap.used      = parseInt(payload[16]);\n        memory.swap.free      = parseInt(payload[17]);\n        payload = memory;\n\n}\n\nmsg.payload = payload\nhost[command] = payload;\nflow.set(hostname, host)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":1120,"wires":[[]]},{"id":"73a41946cfa10c0f","type":"debug","z":"0c4c68fb351df5f5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":900,"wires":[]},{"id":"76c2e8270225abe8","type":"debug","z":"0c4c68fb351df5f5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":1000,"wires":[]},{"id":"cba3cef3633c13ad","type":"sqlite","z":"0c4c68fb351df5f5","mydb":"47186c71.905e34","sqlquery":"msg.topic","sql":"select * from piinfo where hostname = {{msg.payload}};","name":"SQL processor","x":480,"y":1940,"wires":[["4b236c1c35f06577"]]},{"id":"f506942637a8fae2","type":"link call","z":"0c4c68fb351df5f5","name":"","links":["78be970ce74f9788"],"timeout":"30","x":610,"y":1660,"wires":[["c2dfd175c053ef99"]]},{"id":"4b236c1c35f06577","type":"link out","z":"0c4c68fb351df5f5","name":"","mode":"return","links":[],"x":820,"y":1940,"wires":[],"l":true},{"id":"78be970ce74f9788","type":"link in","z":"0c4c68fb351df5f5","name":"SQL","links":[],"x":190,"y":1940,"wires":[["cba3cef3633c13ad"]],"l":true},{"id":"a14fa7c29e3a8db5","type":"change","z":"0c4c68fb351df5f5","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"select * from piinfo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1660,"wires":[["f506942637a8fae2"]]},{"id":"c2dfd175c053ef99","type":"debug","z":"0c4c68fb351df5f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":1660,"wires":[]},{"id":"765703174e61408a","type":"inject","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"Device info (5 min)","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"disk\":\"df /\",\"last_seen\":\"date +\\\"%Y-%m-%d %T\\\"\",\"hostname\":\"hostname\",\"ip\":\"hostname -I\",\"memory\":\"free\",\"model\":\"cat /proc/device-tree/model\",\"osrelease\":\"lsb_release -c\",\"temperature\":\"/opt/vc/bin/vcgencmd measure_temp\"}","payloadType":"json","x":230,"y":500,"wires":[["d9abcb4457667b1e"]]},{"id":"c3aabe7f27e3704c","type":"debug","z":"0c4c68fb351df5f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":2100,"wires":[]},{"id":"726b6a569bd5f226","type":"inject","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"all commands (1 HR)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"disk\":\"df /\",\"last_seen\":\"date +\\\"%Y-%m-%d %T\\\"\",\"grafana\":\"grafana -v\",\"hostname\":\"hostname\",\"influx\":\"influx -version\",\"ip\":\"hostname -I\",\"memory\":\"free\",\"model\":\"cat /proc/device-tree/model\",\"mosquitto\":\"mosquitto -h\",\"netatalk\":\"netatalk -v\",\"nginx\":\"nginx -v\",\"nodered\":\"node-red -?\",\"osrelease\":\"lsb_release -c\",\"php\":\"php -v\",\"python3\":\"python3 --version\",\"sqlite3\":\"sqlite3 -version\",\"temperature\":\"/opt/vc/bin/vcgencmd measure_temp\"}","payloadType":"json","x":230,"y":540,"wires":[["d9abcb4457667b1e"]]},{"id":"18722cffeed5aca8","type":"inject","z":"23c19b174b7b4f81","name":"This controls when the display will be refreshed","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from piinfo","x":1040,"y":80,"wires":[["e6b6bac59aaa1447"]]},{"id":"e2d442e4a09637f8","type":"comment","z":"23c19b174b7b4f81","name":"This flow grabs the stored data and displays it.","info":"","x":240,"y":40,"wires":[]},{"id":"e9129bd561074688","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":980,"wires":[]},{"id":"cbd2cadc6f728fc2","type":"ui_ui_control","z":"23c19b174b7b4f81","name":"","events":"all","x":120,"y":200,"wires":[["dc5432d0ab0d29d0"]]},{"id":"8629e4c9d77243f8","type":"ui_template","z":"23c19b174b7b4f81","group":"7ecd398a5f99024d","name":"CSS for colors1","order":2,"width":"0","height":"0","format":"<style>\n    .nr-dashboard-cardpanel {\n        border: 1px solid black;\n    }\n\n    #Home_Enter_the_IP_of_a_GHOST_device_and_press_DELETE_to_delete_it .nr-dashboard-cardcontainer > .visible,\n    #Home_Enter_the_IP_of_a_GHOST_device_and_press_DELETE_to_delete_it {\n        background-color: #ff9393 !important;\n        test-align: center;\n    }\n    .nr-dashboard-cardpanel > p {\n        text-align: center;\n        color: #000 !important;\n    }\n    .offline {\n        text-align: center;\n        background-color: #ffa0a8 !important;\n    }\n    .device_offline {\n        xbackground-color: #fcf2ba;\n        xbackground-color: #ff6457;\n        background-color: #ffa0a8;\n    }\n    .device_online {\n        background-color: #dcffcc; \n        color: #000000;\n    }\n    .warning_color {\n        background-color: #f3ffb8;\n    }\n    .warning_red {\n        background-color: #ff0000;\n    }\n    .bold-this {\n        font-weight: bold;\n    }\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":300,"y":820,"wires":[[]]},{"id":"37a122b27b10ea9b","type":"change","z":"23c19b174b7b4f81","name":"No data available","rules":[{"t":"set","p":"payload","pt":"msg","to":"No data available","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":620,"wires":[["8300c1664e7e5741"]]},{"id":"016d09f6f02333ec","type":"ui_template","z":"23c19b174b7b4f81","group":"7ecd398a5f99024d","name":"Show Pi details","order":1,"width":"12","height":"10","format":"\n<div id=\"et_home\">\n<h2 style=\"text-align: center; text-transform: uppercase;\">{{msg.host}} </h2>\n<p style=\"text-align: center;\">Details for <span class=\"hostname\">{{msg.host}}</span> found on your LAN<p>\n\n<h2 style=\"text-align: center;  background-color: #ffa0a8 !important;\" ng-if='msg.piinfo[0].device_status ==  0' >OFFLINE</h2>\n\n<div><span class=\"bold-this\" style=\"text-transform: uppercase;\">{{msg.host}}</span> \nis a <span class=\"bold-this\">{{msg.piinfo[0].model}}</span> running <span class=\"bold-this\">{{msg.piinfo[0].osrelease}}</span>\nand was last seen on {{msg.piinfo[0].last_seen_text}}. \nIt's temperature was {{msg.piinfo[0].temperature}} C and it has used {{msg.diskspace[0].disk_percentused}} of it's storage.\n</div>\n<br>\n<table id=\"table\" border=\"1\">\n<caption class=\"bold-this\">Installed Software</caption>\n<tbody style=\"text-align: center\">\n    <tr>\n        <th>Product</th> \n        <th>Version</th> \n    </tr>\n    <tbody style=\"text-align: left\">\n        <tr ng-repeat=\"x in msg.software\">\n            <td ng-if='msg.piinfo[0].device_status ==  1' class=\"device_online\"  >{{x.product}} </td>\n            <td ng-if='msg.piinfo[0].device_status ==  0' class=\"device_offline\" >{{x.product}} </td>\n\n            <td ng-if='msg.piinfo[0].device_status ==  1' class=\"device_online\"  >{{x.release}} </td>\n            <td ng-if='msg.piinfo[0].device_status ==  0' class=\"device_offline\" >{{x.release}} </td>\n         </tr>\n    </tbody>\n</table>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":280,"y":760,"wires":[["acceecc9367486c9"]]},{"id":"bab098f482b30c26","type":"function","z":"23c19b174b7b4f81","name":"Setup data for Details ","func":"let piinfo = msg.piinfo[0]\n\n// convert last_seen to a string and add it to object\nlet d = new Date(piinfo.last_seen);\npiinfo.last_seen_text = d.toLocaleString(\"en-US\")\n\n// get current time - 10 minutes\nvar interval_limit = new Date().getTime() - 600000;\n\npiinfo.device_status = 1\n\n// if pi hasn't been seen in more than the interval, set status out of service\nif (interval_limit > piinfo.last_seen) piinfo.device_status = 0\n\n\nmsg.piinfo[0] = piinfo\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":560,"wires":[["18f123f6b85ca9bc","016d09f6f02333ec"]]},{"id":"acceecc9367486c9","type":"debug","z":"23c19b174b7b4f81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":780,"wires":[]},{"id":"64e27bc3fe86dfce","type":"ui_button","z":"23c19b174b7b4f81","name":"","group":"7ecd398a5f99024d","order":3,"width":0,"height":0,"passthru":false,"label":"Return","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"MainScreen\"}","payloadType":"json","topic":"topic","topicType":"msg","x":110,"y":280,"wires":[["ac08df42a84ecb1a"]]},{"id":"f3ad474a62252d9e","type":"switch","z":"23c19b174b7b4f81","name":"payload empty?","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":640,"wires":[["37a122b27b10ea9b","4142073662a33b1c"],["016d09f6f02333ec","16a650534d09e448"]]},{"id":"8b8d77fa086d46c1","type":"catch","z":"23c19b174b7b4f81","name":"","scope":null,"uncaught":false,"x":720,"y":80,"wires":[["7f846117484e1e0e"]]},{"id":"7f846117484e1e0e","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":120,"wires":[]},{"id":"18f123f6b85ca9bc","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":560,"wires":[]},{"id":"4142073662a33b1c","type":"debug","z":"23c19b174b7b4f81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":660,"wires":[]},{"id":"16a650534d09e448","type":"debug","z":"23c19b174b7b4f81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":700,"wires":[]},{"id":"946cd15c989ee5ab","type":"change","z":"23c19b174b7b4f81","name":"piInfo","rules":[{"t":"set","p":"table","pt":"msg","to":"piInfo","tot":"str"},{"t":"set","p":"limit","pt":"msg","to":"ASC LIMIT 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":260,"wires":[["d28f0e23c40b079c"]]},{"id":"8300c1664e7e5741","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":620,"wires":[]},{"id":"36eee8543c16ac3b","type":"link in","z":"23c19b174b7b4f81","name":"Host Details","links":["f2386831e893caa5"],"x":130,"y":120,"wires":[["fa4073eca4d1dc93","cbd2cadc6f728fc2","946cd15c989ee5ab"]],"l":true},{"id":"e6b6bac59aaa1447","type":"change","z":"23c19b174b7b4f81","name":"testpi","rules":[{"t":"set","p":"hostname","pt":"msg","to":"testpi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":140,"wires":[[]]},{"id":"dc5432d0ab0d29d0","type":"debug","z":"23c19b174b7b4f81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":110,"y":240,"wires":[]},{"id":"9202571317a529c0","type":"link out","z":"23c19b174b7b4f81","name":"sqlnode return","mode":"return","links":[],"x":920,"y":940,"wires":[],"l":true},{"id":"d28f0e23c40b079c","type":"link call","z":"23c19b174b7b4f81","name":"call sql node","links":["95d98589b3256cc8"],"timeout":"30","x":530,"y":260,"wires":[["dbf8982471dd1d6f"]]},{"id":"95d98589b3256cc8","type":"link in","z":"23c19b174b7b4f81","name":"sqlnode","links":[],"x":250,"y":940,"wires":[["a02df29b9661d0aa"]],"l":true},{"id":"dbf8982471dd1d6f","type":"change","z":"23c19b174b7b4f81","name":"","rules":[{"t":"set","p":"piinfo","pt":"msg","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":260,"wires":[["871cf24ada06211c","d364a52a676f4aa5"]]},{"id":"871cf24ada06211c","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":260,"wires":[]},{"id":"49c37840165dfe60","type":"sqlite","z":"23c19b174b7b4f81","mydb":"47186c71.905e34","sqlquery":"msg.topic","sql":"select * from piinfo where hostname = {{msg.payload}};","name":"select * from piInfo;","x":650,"y":940,"wires":[["e9129bd561074688","9202571317a529c0"]]},{"id":"d5c1cb98555fbea2","type":"change","z":"23c19b174b7b4f81","name":"memory","rules":[{"t":"set","p":"table","pt":"msg","to":"memory","tot":"str"},{"t":"set","p":"limit","pt":"msg","to":"ASC LIMIT 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["86d28e1ef9a60d8c"]]},{"id":"86d28e1ef9a60d8c","type":"link call","z":"23c19b174b7b4f81","name":"call sql node","links":["95d98589b3256cc8"],"timeout":"30","x":530,"y":380,"wires":[["eda28861d36097a6"]]},{"id":"eda28861d36097a6","type":"change","z":"23c19b174b7b4f81","name":"","rules":[{"t":"set","p":"memory","pt":"msg","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":380,"wires":[["35010529e846f679","98169ed7f301ac63"]]},{"id":"35010529e846f679","type":"debug","z":"23c19b174b7b4f81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":380,"wires":[]},{"id":"d364a52a676f4aa5","type":"change","z":"23c19b174b7b4f81","name":"diskspace","rules":[{"t":"set","p":"table","pt":"msg","to":"diskspace","tot":"str"},{"t":"set","p":"limit","pt":"msg","to":"ASC LIMIT 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[["18081be9a27001bd"]]},{"id":"18081be9a27001bd","type":"link call","z":"23c19b174b7b4f81","name":"call sql node","links":["95d98589b3256cc8"],"timeout":"30","x":530,"y":320,"wires":[["947a8d6cf4398ccd"]]},{"id":"947a8d6cf4398ccd","type":"change","z":"23c19b174b7b4f81","name":"","rules":[{"t":"set","p":"diskspace","pt":"msg","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":320,"wires":[["8971edd697537a84","d5c1cb98555fbea2"]]},{"id":"8971edd697537a84","type":"debug","z":"23c19b174b7b4f81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":320,"wires":[]},{"id":"98169ed7f301ac63","type":"change","z":"23c19b174b7b4f81","name":"temperature","rules":[{"t":"set","p":"table","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"limit","pt":"msg","to":"ASC LIMIT 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":440,"wires":[["4c3e71e2afc1175c"]]},{"id":"4c3e71e2afc1175c","type":"link call","z":"23c19b174b7b4f81","name":"call sql node","links":["95d98589b3256cc8"],"timeout":"30","x":530,"y":440,"wires":[["596b36659a6d2f61"]]},{"id":"596b36659a6d2f61","type":"change","z":"23c19b174b7b4f81","name":"","rules":[{"t":"set","p":"temperature","pt":"msg","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":440,"wires":[["43ce50dfe351d63b","210b2c3788a03e44"]]},{"id":"43ce50dfe351d63b","type":"debug","z":"23c19b174b7b4f81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":440,"wires":[]},{"id":"a02df29b9661d0aa","type":"change","z":"23c19b174b7b4f81","name":"piInfo","rules":[{"t":"set","p":"topic","pt":"msg","to":"select * from qaz1 where hostname = \"qaz2\" ORDER BY last_seen qaz3","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"qaz1","fromt":"str","to":"table","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"qaz2","fromt":"str","to":"host","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"qaz3","fromt":"str","to":"limit","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":940,"wires":[["49c37840165dfe60","99aac7907013a864"]]},{"id":"99aac7907013a864","type":"debug","z":"23c19b174b7b4f81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":880,"wires":[]},{"id":"fa4073eca4d1dc93","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]},{"id":"ac08df42a84ecb1a","type":"link out","z":"23c19b174b7b4f81","name":"","mode":"link","links":["fa7a2d72a2e2f080"],"x":75,"y":360,"wires":[]},{"id":"04d6a0c8c6d45217","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"27b906c3282fb37b","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":440,"wires":[]},{"id":"210b2c3788a03e44","type":"change","z":"23c19b174b7b4f81","name":"software","rules":[{"t":"set","p":"table","pt":"msg","to":"software","tot":"str"},{"t":"set","p":"limit","pt":"msg","to":";","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["12cf723187b61660"]]},{"id":"12cf723187b61660","type":"link call","z":"23c19b174b7b4f81","name":"call sql node","links":["95d98589b3256cc8"],"timeout":"30","x":530,"y":500,"wires":[["04bcbd2d75844de9"]]},{"id":"04bcbd2d75844de9","type":"change","z":"23c19b174b7b4f81","name":"","rules":[{"t":"set","p":"software","pt":"msg","to":"payload","tot":"msg","dc":true},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"table","pt":"msg"},{"t":"delete","p":"limit","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":500,"wires":[["910b1dd0fc199e7d","bab098f482b30c26"]]},{"id":"910b1dd0fc199e7d","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":500,"wires":[]},{"id":"51a02861a2ee71ab","type":"inject","z":"23c19b174b7b4f81","name":"testpi","props":[{"p":"host","v":"testpi","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":340,"y":160,"wires":[["946cd15c989ee5ab"]]},{"id":"7f71f782a01c6932","type":"comment","z":"23c19b174b7b4f81","name":"","info":"<table id=\"table\" border=\"1\">\n    <tbody style=\"text-align: center\">\n    <tr>\n        <th>Hostname</th> \n        <th>IP</th> \n        <th>Last Seen</th> \n        <th>Model</th>\n        <th>OS</th>\n        <th>Disk Used</th>\n        <th>Temperature</th>\n    </tr>\n    <tbody style=\"text-align: center\">\n        <tr ng-repeat=\"x in msg.piinfo\">\n            <td>{{x.hostname}}</td>\n            <td>{{x.ip}} </td>\n            <td>{{x.last_seen_text}} </td>\n            <td>{{x.model}} </td>\n            <td>{{x.osrelease}} </td>\n            <td>{{x.disk.percentused}} </td>\n            <td>{{x.temperature}} </td>\n            <td>{{x.temperature}} </td>\n         </tr>\n    </tbody>\n</table>\n","x":80,"y":760,"wires":[]},{"id":"a9051371c90a35e8","type":"sqlite","z":"fc53bb528124ae68","mydb":"47186c71.905e34","sqlquery":"msg.topic","sql":"","name":"process SQLite commands","x":740,"y":460,"wires":[["e79c42a366142fca"]]},{"id":"6dda6714f77d705a","type":"comment","z":"fc53bb528124ae68","name":"Create the 'piinfo' tables","info":"","x":350,"y":540,"wires":[]},{"id":"31b5ba9c65f95549","type":"inject","z":"fc53bb528124ae68","name":"Drop and create the tables","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":220,"wires":[["fe788ba933e93c84"]]},{"id":"0558ff92e77f1bd6","type":"comment","z":"fc53bb528124ae68","g":"c3efd75ee41c62a0","name":"This will drop and create the tables. WARNING: running this will wipe out any data already in the tables. ","info":"(Manual) - Run this flow once when installing or if the release notes say \nto upgrade the database.\n\nThe reason this drops and recreates the tables is in the case where new columns\nare being added to one of the tables. \n\n(Yes I know that you could use ALTER but this seems easier to maintain in this case.)","x":530,"y":100,"wires":[]},{"id":"e79c42a366142fca","type":"debug","z":"fc53bb528124ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":460,"wires":[]},{"id":"92bf3c6fe42e0032","type":"catch","z":"fc53bb528124ae68","name":"","scope":null,"uncaught":false,"x":820,"y":260,"wires":[["2321a66fa233387d"]]},{"id":"2321a66fa233387d","type":"debug","z":"fc53bb528124ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"48fdedc35827b24e","type":"template","z":"fc53bb528124ae68","name":"CREATE TABLE temperature","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE temperature (\n    hostname         TEXT, \n    last_seen        INTEGER,\n    temperature      REAL\n)","output":"str","x":360,"y":740,"wires":[["f62f238f1cd32f2c"]]},{"id":"a7e999109aa3a264","type":"template","z":"fc53bb528124ae68","name":"CREATE TABLE diskspace","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE diskspace (\n    hostname         TEXT, \n    last_seen        INTEGER,\n    disk_size        INTEGER,\n    disk_used        INTEGER,\n    disk_avaliable   INTEGER,\n    disk_percentused TEXT\n)","output":"str","x":360,"y":700,"wires":[["f62f238f1cd32f2c","48fdedc35827b24e"]]},{"id":"0672c9047a1c8a69","type":"template","z":"fc53bb528124ae68","name":"CREATE TABLE memory","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE memory (\n    hostname         TEXT, \n    last_seen        INTEGER,\n    available_mem    INTEGER,\n    buff_cache       INTEGER,\n    free_mem         INTEGER,\n    shared_mem       INTEGER,\n    totalmem         INTEGER,\n    used_mem         INTEGER,\n    free_swap        INTEGER,\n    total_swap       INTEGER,\n    used_swap        INTEGER\n )","output":"str","x":350,"y":660,"wires":[["f62f238f1cd32f2c","a7e999109aa3a264"]]},{"id":"13fdb657d4470ae9","type":"delay","z":"fc53bb528124ae68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":740,"wires":[["48fdedc35827b24e"]]},{"id":"0ed3ee9b9f30f2d0","type":"delay","z":"fc53bb528124ae68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":660,"wires":[["0672c9047a1c8a69"]]},{"id":"5d608ad38a621157","type":"delay","z":"fc53bb528124ae68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":700,"wires":[["a7e999109aa3a264"]]},{"id":"47704f0744a52989","type":"template","z":"fc53bb528124ae68","name":"DROP TABLE temperature","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE IF EXISTS temperature;","output":"str","x":380,"y":440,"wires":[["ea83a1d0cbac9f6d","445470da8f45f02f"]]},{"id":"b87c14e491934cc6","type":"template","z":"fc53bb528124ae68","name":"DROP TABLE diskspace","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE IF EXISTS diskspace;","output":"str","x":370,"y":400,"wires":[["ea83a1d0cbac9f6d","47704f0744a52989"]]},{"id":"70ef6e918f1542ba","type":"template","z":"fc53bb528124ae68","name":"DROP TABLE memory","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" DROP TABLE IF EXISTS memory;","output":"str","x":360,"y":360,"wires":[["ea83a1d0cbac9f6d","b87c14e491934cc6"]]},{"id":"fe788ba933e93c84","type":"template","z":"fc53bb528124ae68","name":"DROP TABLE piInfo","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE IF EXISTS piInfo;\n","output":"str","x":360,"y":280,"wires":[["ea83a1d0cbac9f6d","8a7389aa428fb3be"]]},{"id":"e86e953b70aa9205","type":"delay","z":"fc53bb528124ae68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":440,"wires":[["47704f0744a52989"]]},{"id":"311c6b108ad266de","type":"delay","z":"fc53bb528124ae68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":360,"wires":[["70ef6e918f1542ba"]]},{"id":"463a9bbdfa58b14b","type":"delay","z":"fc53bb528124ae68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":400,"wires":[["b87c14e491934cc6"]]},{"id":"f62f238f1cd32f2c","type":"link out","z":"fc53bb528124ae68","name":"to process SQL","mode":"link","links":["8597b39081624f7f"],"x":615,"y":660,"wires":[]},{"id":"8597b39081624f7f","type":"link in","z":"fc53bb528124ae68","name":"process SQL","links":["f62f238f1cd32f2c","ea83a1d0cbac9f6d","0ecad94167238b6e"],"x":575,"y":460,"wires":[["a9051371c90a35e8"]]},{"id":"ea83a1d0cbac9f6d","type":"link out","z":"fc53bb528124ae68","name":"to process SQL","mode":"link","links":["8597b39081624f7f"],"x":635,"y":340,"wires":[]},{"id":"9be7f423f7860957","type":"inject","z":"fc53bb528124ae68","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from piinfo","x":350,"y":900,"wires":[["0ecad94167238b6e"]]},{"id":"13b8fe38621cf58a","type":"inject","z":"fc53bb528124ae68","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from memory","x":370,"y":1000,"wires":[["0ecad94167238b6e"]]},{"id":"15edc248bdbe259c","type":"inject","z":"fc53bb528124ae68","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from diskspace","x":370,"y":1060,"wires":[["0ecad94167238b6e"]]},{"id":"0a3cafe44fdc38d2","type":"inject","z":"fc53bb528124ae68","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from temperature","x":380,"y":1120,"wires":[["0ecad94167238b6e"]]},{"id":"0ecad94167238b6e","type":"link out","z":"fc53bb528124ae68","name":"to process SQL","mode":"link","links":["8597b39081624f7f","f7f6500f83bb61d8","5a4472ca5f86d301"],"x":810,"y":1020,"wires":[],"l":true},{"id":"581a09a999f56f3f","type":"inject","z":"fc53bb528124ae68","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE IF EXISTS piInfo;","x":870,"y":860,"wires":[["0ecad94167238b6e"]]},{"id":"3905f5af3613922c","type":"template","z":"fc53bb528124ae68","name":"CREATE TABLE piInfo","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE piInfo (\n    hostname         TEXT PRIMARY KEY, \n    last_seen        INTEGER,\n    ip               TEXT,\n    model            TEXT,\n    osrelease        TEXT,\n    temperature      REAL,\n    disk_percentused TEXT\n)","output":"str","x":340,"y":580,"wires":[["f62f238f1cd32f2c","a5688e3ef6c336dc"]]},{"id":"a5688e3ef6c336dc","type":"template","z":"fc53bb528124ae68","name":"CREATE TABLE software","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE software (\n    hostname        TEXT NOT NULL, \n    last_seen       INTEGER,\n    product         TEXT NOT NULL,\n    release         TEXT,\n    PRIMARY KEY(hostname, product)\n)","output":"str","x":350,"y":620,"wires":[["f62f238f1cd32f2c","0672c9047a1c8a69"]]},{"id":"a983b1faa0eee008","type":"delay","z":"fc53bb528124ae68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":620,"wires":[["a5688e3ef6c336dc"]]},{"id":"791814fa71026ef9","type":"delay","z":"fc53bb528124ae68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":320,"wires":[["8a7389aa428fb3be"]]},{"id":"8a7389aa428fb3be","type":"template","z":"fc53bb528124ae68","name":"DROP TABLE software","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" DROP TABLE IF EXISTS software;","output":"str","x":360,"y":320,"wires":[["ea83a1d0cbac9f6d","70ef6e918f1542ba"]]},{"id":"b943effc552782f7","type":"inject","z":"fc53bb528124ae68","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from software","x":360,"y":940,"wires":[["0ecad94167238b6e"]]},{"id":"445470da8f45f02f","type":"delay","z":"fc53bb528124ae68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":580,"wires":[["3905f5af3613922c"]]}]
