PyPi-Info.flow
[{"id":"0c4c68fb351df5f5","type":"tab","label":"PyPi Info gather V0.1.8","disabled":false,"info":"","env":[]},{"id":"23c19b174b7b4f81","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"fc53bb528124ae68","type":"tab","label":"Create database","disabled":false,"info":"","env":[]},{"id":"c8df16c40934eec9","type":"group","z":"0c4c68fb351df5f5","name":"","style":{"fill":"#ffdf7f","label":true},"nodes":["393ad4af600a8b71","d556cd55a1936ded","e4d48aaa9edd9ade","8e0f177aa11189b8","c71da32c02c2fc8e","2893b0efbf35cc1c","6c3f2ab2791e71d4","042f4df94900d69f","d59536e2db60076e","0c6869560aa1a6c2","a61972398859eff1","6fa3a0410f7da50b","c934b64c919d733c"],"x":94,"y":639,"w":912,"h":302},{"id":"f9e90dec5319f5ed","type":"group","z":"0c4c68fb351df5f5","name":"","style":{"fill":"#ffdf7f","label":true},"nodes":["d9abcb4457667b1e","f0732d70fffd18d1","9472581dba11c440","3271a4f093ef6f66","2678e68aa1378c5d","a6d21704a8d5666b","1f17709bdf74ca8e"],"x":54,"y":439,"w":712,"h":162},{"id":"e5cd12572bbf78ee","type":"group","z":"0c4c68fb351df5f5","name":"","style":{"fill":"#ffff7f","label":true},"nodes":["00f8c89fb5c168f1","ca9363fbc631c75f","b94154be67ea37ab","3206ba8f4a3d1298","f4b8928438b9bd34","04e5eae06f7ad195","83a97db12d4e2781","cf85b85915a2ac0d","ea0de37adb6ecb7a","4909f95f852dca9d","e1e93d6cbe29f0ed","1238936ac0ae3a1f","e93f2a7c2a93b908","3b3b59c10ba40e6f","5f13d6d93d57f73d","d38bee7c0edde477","349bde1989ca6817","4cf50eb122154f07","4e36fb9cac259896","4453535a1ece5df7","5f6908328a7a2930","ae7172e854753b19"],"x":94,"y":19,"w":952,"h":382},{"id":"eb69eba0546a57fe","type":"group","z":"0c4c68fb351df5f5","name":"","style":{"fill":"#ff7f7f","label":true},"nodes":["357d2685d9a892c3","4ec131dd5b51f749","1c97802fcf3626fb"],"x":814,"y":439,"w":212,"h":162},{"id":"25c62ebe733c05cb","type":"group","z":"0c4c68fb351df5f5","name":"","style":{"fill":"#ffdf7f","label":true},"nodes":["ddd8f5144f23a61c","bf5ffd52a07814a7","b38c71b3976a429c","65849a433006f29a","3bd36552943662f4","b6eb2ed1b240cbea","af5ee2e66f32d081","e67e9e271d46aaa1","3a2eddcf150cb883","b907902544d37efb","220e34fe6bc8fe37"],"x":84,"y":979,"w":932,"h":242},{"id":"c3efd75ee41c62a0","type":"group","z":"fc53bb528124ae68","name":"","style":{"fill":"#ff3f3f","label":true},"nodes":["0558ff92e77f1bd6"],"x":154,"y":59,"w":752,"h":82},{"id":"c892cc02109e2a7d","type":"group","z":"fc53bb528124ae68","name":"","style":{"fill":"#ffbfbf","label":true},"nodes":["a9051371c90a35e8","6dda6714f77d705a","31b5ba9c65f95549","e79c42a366142fca","92bf3c6fe42e0032","2321a66fa233387d","48fdedc35827b24e","a7e999109aa3a264","0672c9047a1c8a69","0a6b2f89f623afb6","13fdb657d4470ae9","0ed3ee9b9f30f2d0","5d608ad38a621157","47704f0744a52989","b87c14e491934cc6","70ef6e918f1542ba","fe788ba933e93c84","e86e953b70aa9205","311c6b108ad266de","463a9bbdfa58b14b","f62f238f1cd32f2c","8597b39081624f7f","ea83a1d0cbac9f6d"],"x":74,"y":159,"w":972,"h":502},{"id":"a5480e0a8e5a4648","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fc280b0a645350ec","type":"mqtt-broker","name":"","broker":"mqttpizw.local","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"47186c71.905e34","type":"sqlitedb","db":"/home/pi/testdb.db","mode":"RWC"},{"id":"cac60a175231d699","type":"ui_group","name":"Rpi list","tab":"db35f1a66def126a","order":1,"disp":false,"width":"14","collapse":false,"className":""},{"id":"db35f1a66def126a","type":"ui_tab","name":"Home","icon":"dashboard","order":1},{"id":"d9abcb4457667b1e","type":"function","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"Format MQTT topic/data","func":"const cmds = msg.payload;\n//Object.values(cmds).forEach( cmd => {\n//  msg.product = cmd;\n//  msg.payload = cmd;\n//  node.send(msg);\n//});\nObject.entries(cmds).forEach(entry => {\n  const [software, cmd] = entry;\n  msg.software = software;\n//  msg.payload = cmd;\n  msg.topic = 'pypi_info/command'+\"/\"+msg.software\n  node.send(msg);\n});\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":560,"wires":[["9472581dba11c440"]]},{"id":"f0732d70fffd18d1","type":"inject","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"all commands","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"disc\":\"df /\",\"last_seen\":\"date +\\\"%Y-%m-%d %T\\\"\",\"grafana\":\"grafana -v\",\"hostname\":\"hostname\",\"influx\":\"influx -version\",\"ip\":\"hostname -I\",\"memory\":\"free\",\"model\":\"cat /proc/device-tree/model\",\"mosquitto\":\"mosquitto -h\",\"netatalk\":\"netatalk -v\",\"nginx\":\"nginx -v\",\"nodered\":\"node-red -?\",\"osrelease\":\"lsb_release -c\",\"php\":\"php -v\",\"python3\":\"python3 --version\",\"sqlite3\":\"sqlite3 -version\",\"temperature\":\"/opt/vc/bin/vcgencmd measure_temp\"}","payloadType":"json","x":210,"y":520,"wires":[["2678e68aa1378c5d","d9abcb4457667b1e"]]},{"id":"9472581dba11c440","type":"mqtt out","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fc280b0a645350ec","x":670,"y":560,"wires":[]},{"id":"393ad4af600a8b71","type":"mqtt in","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"","topic":"pypi_info/results/#","qos":"2","datatype":"json","broker":"fc280b0a645350ec","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":720,"wires":[["a61972398859eff1","6c3f2ab2791e71d4"]]},{"id":"00f8c89fb5c168f1","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"hostname","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hostname\": \"hostname\"}","payloadType":"json","x":720,"y":100,"wires":[["e93f2a7c2a93b908"]]},{"id":"ca9363fbc631c75f","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"node-red","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"nodered\":\"node-red -?\"}","payloadType":"json","x":380,"y":220,"wires":[["e93f2a7c2a93b908"]]},{"id":"b94154be67ea37ab","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"osrelease","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"osrelease\":\"lsb_release -c\"}","payloadType":"json","x":560,"y":220,"wires":[["e93f2a7c2a93b908"]]},{"id":"3206ba8f4a3d1298","type":"mqtt in","z":"0c4c68fb351df5f5","d":true,"g":"e5cd12572bbf78ee","name":"","topic":"pypi_info/command/#","qos":"2","datatype":"auto","broker":"fc280b0a645350ec","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":360,"wires":[["f4b8928438b9bd34"]]},{"id":"f4b8928438b9bd34","type":"debug","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"04e5eae06f7ad195","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"grafana","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"grafana\": \"grafana -v\"}","payloadType":"json","x":550,"y":100,"wires":[["e93f2a7c2a93b908"]]},{"id":"83a97db12d4e2781","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"netatalk","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"netatalk\": \"netatalk -v\"}","payloadType":"json","x":910,"y":160,"wires":[["e93f2a7c2a93b908"]]},{"id":"cf85b85915a2ac0d","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"influx","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"influx\": \"influx -version\"}","payloadType":"json","x":910,"y":100,"wires":[["e93f2a7c2a93b908"]]},{"id":"ea0de37adb6ecb7a","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"IP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ip\": \"hostname -I\"}","payloadType":"json","x":190,"y":160,"wires":[["e93f2a7c2a93b908"]]},{"id":"4909f95f852dca9d","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"Date","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"last_seen\":\"date +\\\"%Y-%m-%d %T\\\"\"}","payloadType":"json","x":190,"y":100,"wires":[["e93f2a7c2a93b908"]]},{"id":"e1e93d6cbe29f0ed","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temperature\": \"/opt/vc/bin/vcgencmd measure_temp\"}","payloadType":"json","x":390,"y":280,"wires":[["e93f2a7c2a93b908"]]},{"id":"1238936ac0ae3a1f","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"memory","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"memory\": \"free\"}","payloadType":"json","x":380,"y":160,"wires":[["e93f2a7c2a93b908"]]},{"id":"3271a4f093ef6f66","type":"link in","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"Run Command","links":["e93f2a7c2a93b908"],"x":220,"y":560,"wires":[["d9abcb4457667b1e"]],"l":true},{"id":"e93f2a7c2a93b908","type":"link out","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"to Run Command","mode":"link","links":["3271a4f093ef6f66"],"x":390,"y":360,"wires":[],"l":true},{"id":"3b3b59c10ba40e6f","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"model","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"model\":\"cat /proc/device-tree/model\"}","payloadType":"json","x":550,"y":160,"wires":[["e93f2a7c2a93b908"]]},{"id":"5f13d6d93d57f73d","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"mosquitto","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mosquitto\": \"mosquitto -h\"}","payloadType":"json","x":740,"y":160,"wires":[["e93f2a7c2a93b908"]]},{"id":"d38bee7c0edde477","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"python3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"python3\": \"python3 --version\"}","payloadType":"json","x":920,"y":220,"wires":[["e93f2a7c2a93b908"]]},{"id":"349bde1989ca6817","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"nginx","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"nginx\": \"nginx -v\"}","payloadType":"json","x":190,"y":220,"wires":[["e93f2a7c2a93b908"]]},{"id":"4cf50eb122154f07","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"php","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"php\":\"php -v\"}","payloadType":"json","x":730,"y":220,"wires":[["e93f2a7c2a93b908"]]},{"id":"4e36fb9cac259896","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"sqlite3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sqlite3\":\"sqlite3 -version\"}","payloadType":"json","x":190,"y":280,"wires":[["e93f2a7c2a93b908"]]},{"id":"d556cd55a1936ded","type":"change","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"payload = stdout","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.stdout","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":860,"wires":[["e4d48aaa9edd9ade","6fa3a0410f7da50b"]]},{"id":"e4d48aaa9edd9ade","type":"debug","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":900,"wires":[]},{"id":"8e0f177aa11189b8","type":"change","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"payload = not installed","rules":[{"t":"set","p":"payload","pt":"msg","to":"not installed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":820,"wires":[["2893b0efbf35cc1c","d59536e2db60076e"]]},{"id":"c71da32c02c2fc8e","type":"switch","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"stdout empty?","property":"payload.stdout","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":220,"y":840,"wires":[["8e0f177aa11189b8"],["d556cd55a1936ded"]]},{"id":"2893b0efbf35cc1c","type":"debug","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":780,"wires":[]},{"id":"6c3f2ab2791e71d4","type":"change","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"set msg.hostname and msg.command","rules":[{"t":"set","p":"hostname","pt":"msg","to":"payload.hostname","tot":"msg"},{"t":"set","p":"command","pt":"msg","to":"payload.command","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":780,"wires":[["c71da32c02c2fc8e"]]},{"id":"042f4df94900d69f","type":"debug","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"Parsed results","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":840,"wires":[]},{"id":"d59536e2db60076e","type":"function","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"Parse results ","func":"// model to store in DB\nlet hostname = msg.hostname\nlet command = msg.command\nlet payload = msg.payload\nlet host = flow.get(hostname)||{}\n\nmsg.payload = payload\nhost[command] = payload;\nflow.set(hostname, host)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":820,"wires":[["042f4df94900d69f"]]},{"id":"ddd8f5144f23a61c","type":"inject","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"manual run","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1160,"wires":[["bf5ffd52a07814a7"]]},{"id":"0c6869560aa1a6c2","type":"function","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"Build flow.hostnames array","func":"// get the hostnames array from context\nlet hostnames = flow.get('hostnames')||[]\n\n// get current hostname\nlet hostname = msg.payload.hostname\n\n// push the current name onto the array\nhostnames.push(hostname);\n\n// remove duplicate hostnames\nlet uniqueNames = [...new Set(hostnames)];\n\n// save the hostnames array)\nflow.set('hostnames', uniqueNames)\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":720,"wires":[[]]},{"id":"a61972398859eff1","type":"switch","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"hostname","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":720,"wires":[["0c6869560aa1a6c2"]]},{"id":"4453535a1ece5df7","type":"inject","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"disc","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"disc\": \"df /\"}","payloadType":"json","x":370,"y":100,"wires":[["e93f2a7c2a93b908"]]},{"id":"bf5ffd52a07814a7","type":"function","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"Setup data for inserts","func":"let hosts = flow.get(\"hostnames\")||[]\nlet piData = {}\nlet data = {}\nlet mem = {}\nlet disc = {}\nhosts.forEach(hostname => {\n   piData = flow.get(hostname)||{}\n//   node.warn(piData)\n   // build the database record\n   msg.hostname          = piData.hostname       \n   data.hostname         = piData.hostname       \n   data.last_seen        = piData.last_seen   \n   data.ip               = piData.ip\n   data.model            = piData.model\n   data.osrelease        = piData.osrelease\n   data.temperature      = piData.temperature\n\n   memory = piData.memory\n   data.mem_available    = memory.mem.available\n   data.mem_buff_cache   = memory.mem.buff_cache\n   data.mem_free         = memory.mem.free       \n   data.mem_shared       = memory.mem.shared\n   data.mem_total        = memory.mem.total\n   data.mem_used         = memory.mem.used\n   data.used_total       = memory.swap.total\n   data.used_free        = memory.swap.free    \n   data.used_swap        = memory.swap.used  \n\n   disc = piData.disc\n   data.disc_size        = disc.size\n   data.disc_used        = disc.used\n   data.disc_avaliable   = disc.avaliable \n   data.disc_percentused = disc.percentused\n\n   data.grafana          = piData.grafana\n   data.influx           = piData.influx\n   data.mosquitto        = piData.mosquitto\n   data.netatalk         = piData.netatalk\n   data.nginx            = piData.nginx\n   data.nodered          = piData.nodered\n   data.php              = piData.php\n   data.python3          = piData.python3\n   data.sqlite3          = piData.sqlite3\n  \n   msg.data = data\n//   node.warn(msg.payload)\n\n // operation\n   node.send(msg)\n});\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1120,"wires":[["3bd36552943662f4","e67e9e271d46aaa1","3a2eddcf150cb883","b907902544d37efb"]]},{"id":"b38c71b3976a429c","type":"sqlite","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","mydb":"47186c71.905e34","sqlquery":"msg.topic","sql":"","name":"Replace/Insert nodes","x":860,"y":1120,"wires":[["65849a433006f29a","b6eb2ed1b240cbea"]]},{"id":"65849a433006f29a","type":"link out","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"Go update the dashboard","links":["67000fc1.5bc74"],"x":870,"y":1180,"wires":[],"l":true},{"id":"3bd36552943662f4","type":"template","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"REPLACE INTO piinfo","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"REPLACE INTO piinfo (\n    hostname, \n    date_time,\n    ip,\n    model,\n    osrelease,\n    temperature,\n    disk_percentused,\n    grafana,\n    influx,\n    mosquitto,\n    netatalk,\n    nginx,\n    nodered,\n    php,\n    python3,\n    sqlite3              \n    )\nVALUES (\n    \"{{data.hostname}}\",\n     {{data.last_seen}},\n    \"{{data.ip}}\",\n    \"{{data.model}}\",\n    \"{{data.osrelease}}\",\n     {{data.temperature}},\n    \"{{data.disc_percentused}}\",\n    \"{{data.grafana}}\",\n    \"{{data.influx}}\",\n    \"{{data.mosquitto}}\",\n    \"{{data.netatalk}}\",\n    \"{{data.nginx}}\",\n    \"{{data.nodered}}\",\n    \"{{data.php}}\",\n    \"{{data.python3}}\",\n    \"{{data.sqlite3}}\"\n);","output":"str","x":520,"y":1060,"wires":[["b38c71b3976a429c"]]},{"id":"b6eb2ed1b240cbea","type":"debug","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":1060,"wires":[]},{"id":"357d2685d9a892c3","type":"catch","z":"0c4c68fb351df5f5","g":"eb69eba0546a57fe","name":"","scope":null,"uncaught":false,"x":920,"y":520,"wires":[["4ec131dd5b51f749"]]},{"id":"4ec131dd5b51f749","type":"debug","z":"0c4c68fb351df5f5","g":"eb69eba0546a57fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":560,"wires":[]},{"id":"6fa3a0410f7da50b","type":"function","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"Parse results","func":"// model to store in DB\nlet hostname = msg.hostname\nlet command = msg.command\nlet payload = msg.payload\nlet host = flow.get(hostname)||{}\n\n// format commands that have extra text in their responses\nswitch(command) {\n    case \"date\":\n        const d1 = new Date();\n        payload = d1.getTime();\n        break;\n\n    case \"disc\":\n        let disc = {};\n        payload = payload.replace(/  +/g, ' ');\n        payload = payload.split(\" \");\n        disc.size        = parseInt(payload[7]);\n        disc.used        = parseInt(payload[8]);\n        disc.avaliable   = parseInt(payload[9]);\n        disc.percentused = (payload[10]);\n        payload = disc;\n       break;\n\n    case \"hostname\":\n        payload = hostname;\n        break;\n\n    case \"influx\":\n        payload = payload.replace(/\\n/g,\" \");\n        payload = payload.split(\" \")[3];\n        break;\n\n    case \"ip\":\n        payload = payload.replace(/ \\n/g, '');\n        break;\n\n    case \"last_seen\":\n        payload = Date.parse(payload);\n        break;\n\n    case \"memory\":\n        let memory = {};\n        memory.mem = {};\n        memory.swap = {};\n        payload = payload.replace(/\\n/g,\" \");\n        payload = payload.replace(/  +/g, ' ');\n        payload = payload.split(\" \");\n        memory.mem.total      = parseInt(payload[8]);\n        memory.mem.used       = parseInt(payload[9]);\n        memory.mem.free       = parseInt(payload[10]);\n        memory.mem.shared     = parseInt(payload[11]);\n        memory.mem.buff_cache = parseInt(payload[12]);\n        memory.mem.available  = parseInt(payload[13]);\n        memory.swap.total     = parseInt(payload[15]);\n        memory.swap.used      = parseInt(payload[16]);\n        memory.swap.free      = parseInt(payload[17]);\n        payload = memory;\n        break;\n\n    case \"mosquitto\":\n        payload = payload.replace(/\\n/g,\" \");\n        payload = payload.split(\" \")[2];\n        break;\n \n    case \"model\":\n        payload = payload.slice(0, -1);\n        payload = payload.toString();\n//       payload = payload.replace(/\\@/g,\" \");\n//        node.warn(payload.length)\n        payload = payload.replace(\"Raspberry \",\"\");\n//        payload = payload.replace(/\\n/g,\"\");\n        break;\n \n    case \"netatalk\": \n        payload = payload.replace(/\\n/g,\" \");\n        payload = payload.split(\" -\")[0];\n        payload = payload.replace('netatalk ', '');\n        break;\n\n    case \"nodered\": \n        payload = payload.replace(/\\n/g,\" \");\n        payload = payload.split(\" \")[1];\n        payload = payload.replace(\"v\",\"\");\n        break;\n\n    case \"osrelease\":\n        payload = payload.replace('Codename:', '');\n        payload = payload.trim();\n        break;\n \n    case \"php\":\n        payload = payload.replace(/\\n/g, '');\n        payload = payload.split(\" \")[1];\n        break;\n \n    case \"python3\":\n        payload = payload.replace(/\\n/g, '');\n        payload = payload.replace('Python ', '');\n        break;\n \n    case \"sqlite3\":\n        payload = payload.split(\" \")[0];\n        break;\n\n    case \"temperature\":\n        payload = payload.split(\"=\")[1];\n        payload = payload.replace(/\\n/g,\"\");\n        payload = payload.replace(\"'C\", \"\");\n        payload = parseFloat(payload)\n        break;\n\n    default:\n        break;\n}\nmsg.payload = payload\nhost[command] = payload;\nflow.set(hostname, host)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":860,"wires":[["042f4df94900d69f"]]},{"id":"2678e68aa1378c5d","type":"delay","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":420,"y":520,"wires":[["a6d21704a8d5666b"]]},{"id":"a6d21704a8d5666b","type":"link out","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"to Load to SQLite","mode":"link","links":["af5ee2e66f32d081"],"x":650,"y":520,"wires":[],"l":true},{"id":"af5ee2e66f32d081","type":"link in","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"Load to SQLite","links":["a6d21704a8d5666b"],"x":220,"y":1080,"wires":[["bf5ffd52a07814a7"]],"l":true},{"id":"e67e9e271d46aaa1","type":"template","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"INSERT INTO memory","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO memory (\n    hostname, \n    date_time,\n    available_mem,\n    buff_cache,\n    free_mem,\n    shared_mem,\n    totalmem,\n    used_mem,\n    free_swap,\n    total_swap,\n    used_swap\n    )\nVALUES (\n    \"{{data.hostname}}\",\n     {{data.last_seen}},\n     {{data.mem_available}},\n     {{data.mem_buff_cache}},\n     {{data.mem_free}},\n     {{data.mem_shared}},\n     {{data.mem_total}},\n     {{data.mem_used}},\n     {{data.used_total}},\n     {{data.used_free}},\n     {{data.used_swap}}\n);","output":"str","x":520,"y":1100,"wires":[["b38c71b3976a429c"]]},{"id":"3a2eddcf150cb883","type":"template","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"INSERT INTO discSpace","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO discSpace (\n    hostname, \n    date_time,\n    disk_size,\n    disk_used,\n    disk_avaliable,\n    disk_percentused\n    )\nVALUES (\n    \"{{data.hostname}}\",\n     {{data.last_seen}},\n     {{data.disc_size}},\n     {{data.disc_used}},\n     {{data.disc_avaliable}},\n    \"{{data.disc_percentused}}\"\n);","output":"str","x":530,"y":1140,"wires":[["b38c71b3976a429c"]]},{"id":"b907902544d37efb","type":"template","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"INSERT INTO Temperature","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO Temperature (\n    hostname, \n    date_time,\n    temperature\n    )\nVALUES (\n    \"{{data.hostname}}\",\n     {{data.last_seen}},\n     {{data.temperature}}\n);","output":"str","x":540,"y":1180,"wires":[["b38c71b3976a429c"]]},{"id":"5f6908328a7a2930","type":"comment","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"for monitoring out going MQTT msgs","info":"","x":810,"y":320,"wires":[]},{"id":"1f17709bdf74ca8e","type":"comment","z":"0c4c68fb351df5f5","g":"f9e90dec5319f5ed","name":"Publish commands to MQTT so devices with pypi-info installed will reply","info":"","x":340,"y":480,"wires":[]},{"id":"c934b64c919d733c","type":"comment","z":"0c4c68fb351df5f5","g":"c8df16c40934eec9","name":"Parse the results returned from MQTT and store ther results in some flow variables","info":"","x":510,"y":680,"wires":[]},{"id":"ae7172e854753b19","type":"comment","z":"0c4c68fb351df5f5","g":"e5cd12572bbf78ee","name":"These are the commands for testing","info":"","x":280,"y":60,"wires":[]},{"id":"1c97802fcf3626fb","type":"comment","z":"0c4c68fb351df5f5","g":"eb69eba0546a57fe","name":"Error Collection","info":"","x":920,"y":480,"wires":[]},{"id":"220e34fe6bc8fe37","type":"comment","z":"0c4c68fb351df5f5","g":"25c62ebe733c05cb","name":"Get the flow items and create the database inserts and store in tables","info":"","x":390,"y":1020,"wires":[]},{"id":"18722cffeed5aca8","type":"inject","z":"23c19b174b7b4f81","name":"This controls when the display will be refreshed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":80,"wires":[["7ffd899b19da0e0f"]]},{"id":"7ffd899b19da0e0f","type":"sqlite","z":"23c19b174b7b4f81","mydb":"47186c71.905e34","sqlquery":"fixed","sql":"select * from nodes order by ip;","name":"select * from nodes;","x":180,"y":220,"wires":[["ad31b17763fe03f8","e9129bd561074688"]]},{"id":"a221ad43e6355aa6","type":"change","z":"23c19b174b7b4f81","name":"Get global releases","rules":[{"t":"set","p":"esp_release","pt":"msg","to":"ETDH.espeasy","tot":"global"},{"t":"set","p":"tas_release","pt":"msg","to":"ETDH.tasmota","tot":"global"},{"t":"set","p":"etdh_version","pt":"msg","to":"ETDH.version","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":380,"wires":[["e7cb25107dbfd010","e825af21ef668c2a"]]},{"id":"b7ff0ba9e842de38","type":"link in","z":"23c19b174b7b4f81","name":"Update","links":["7c24875f.f91278","82e372a3.78c038"],"x":110,"y":140,"wires":[["7ffd899b19da0e0f"]],"l":true},{"id":"e2d442e4a09637f8","type":"comment","z":"23c19b174b7b4f81","name":"This flow grabs the stored data and displays it.","info":"","x":240,"y":40,"wires":[]},{"id":"e9511e1267d1c489","type":"ui_template","z":"23c19b174b7b4f81","group":"cac60a175231d699","name":"CSS for colors","order":3,"width":"0","height":"0","format":"<style>\n    .nr-dashboard-cardpanel {\n        border: 1px solid black;\n    }\n\n    #Home_Enter_the_IP_of_a_GHOST_device_and_press_DELETE_to_delete_it .nr-dashboard-cardcontainer > .visible,\n    #Home_Enter_the_IP_of_a_GHOST_device_and_press_DELETE_to_delete_it {\n        background-color: #ff9393 !important;\n        test-align: center;\n    }\n    .nr-dashboard-cardpanel > p {\n        text-align: center;\n        color: #000 !important;\n    }\n    .device_offline {\n        xbackground-color: #fcf2ba;\n        xbackground-color: #ff6457;\n        background-color: #ffa0a8;\n    }\n    .device_online {\n        background-color: #dcffcc; \n        color: #000000;\n    }\n    .warning_color {\n        background-color: #f3ffb8;\n    }\n    .warning_red {\n        background-color: #ff0000;\n    }\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":160,"y":500,"wires":[[]]},{"id":"ad5f149ea0673294","type":"change","z":"23c19b174b7b4f81","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[[\"database is empty\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\"]]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[["c4f59cb6bcd90cb1"]]},{"id":"e7cb25107dbfd010","type":"ui_template","z":"23c19b174b7b4f81","d":true,"group":"cac60a175231d699","name":"Raspberry Pi devices","order":1,"width":"14","height":"10","format":"<div id=\"et_home\">\n<h2 style=\"text-align: center;\">ET Display Home {{msg.etdh_version}}</h2>\n<p style=\"text-align: center;\">ESPeasy current release: <a href=\"https://github.com/letscontrolit/ESPEasy/releases/download/{{msg.esp_release}}/ESPEasy_ESP82xx_{{msg.esp_release}}.zip\" target=\"_blank\">{{msg.esp_release}}</a> (click to download)</p>\n<p style=\"text-align: center;\">Tasmota current release: <a href=\"https://github.com/arendst/Tasmota-firmware/raw/main/release-firmware/tasmota/tasmota-display.bin\" target=\"_blank\">{{msg.tas_release}}</a> (click to download)</p>\n\n<br/>\n<table id=\"table\" border=\"1\">\n    <tr>\n        <th>Node Name</th> \n        <th>Node Status</th> \n        <th>Last Seen</th> \n        <th>Version</th>\n        <th>RSSI</th>\n        <th>Uptime</th>\n        <th>Last boot cause</th>\n        <th>Free RAM</th>\n        <th>IP</th>\n    </tr>\n    <tbody style=\"text-align: center\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td ng-if=\"x.node_status ==  'database is empty'\" class=\"warning_red\" >DATABASE IS EMPTY</td>\n \n            <td ng-if='x.node_status ==  1' class=\"device_online\" >{{x.node_name}}</td>\n            <td ng-if='x.node_status ==  0' class=\"device_offline\">{{x.node_name}}</td>\n            \n            <td ng-if='x.node_status ==  1' class=\"device_online\"  >On Line </td>\n            <td ng-if='x.node_status ==  0' class=\"device_offline\" >Off Line</td>\n            \n            <td ng-if='x.node_status ==  1' class=\"device_last_seen\"  >{{x.last_seen}} </td>\n            <td ng-if='x.node_status ==  0' class=\"device_last_seen\"  >{{x.last_seen}} </td>\n\n            \n            <td ng-if=\"(x.firmware_type == 'espeasy' && x.firmware_build ==  msg.esp_release)\" class=\"device_online\"> {{x.firmware_build}} </td>\n            <td ng-if=\"(x.firmware_type == 'espeasy' && x.firmware_build !=  msg.esp_release)\" class=\"warning_color\"> {{x.firmware_build}} </td>\n            <td ng-if=\"(x.firmware_type == 'tasmota' && x.firmware_build ==  msg.tas_release)\" class=\"device_online\"> {{x.firmware_build}} </td>\n            <td ng-if=\"(x.firmware_type == 'tasmota' && x.firmware_build !=  msg.tas_release)\" class=\"warning_color\"> {{x.firmware_build}} </td>\n            <td ng-if=\"(x.firmware_type == 'homie'   && x.firmware_build ==  msg.hom_release)\" class=\"device_online\"> {{x.firmware_build}} </td>\n            <td ng-if=\"(x.firmware_type == 'homie'   && x.firmware_build !=  msg.hom_release)\" class=\"warning_color\"> {{x.firmware_build}} </td>\n             \n            <td ng-if='x.node_status ==  1'  > {{x.rssi}} </td>\n            <td ng-if='x.node_status ==  0'  >- - -</td>\n            \n            <td ng-if='x.node_status ==  1'  > {{x.uptime}} </td>\n            <td ng-if='x.node_status ==  0'  >- - - - -</td>\n            \n            <td ng-if='x.node_status ==  1'  > {{x.last_boot_cause}} </td>\n            <td ng-if='x.node_status ==  0'  >- - - - - - -</td>\n            \n            <td ng-if='x.node_status ==  1'  > {{x.free_ram}} </td>\n            <td ng-if='x.node_status ==  0'  >- - - - -</td>\n            <td>\n                <a href=\"http://{{x.ip}}\" target=\"_blank\"> {{x.ip}} </a>\n            </td>\n        </tr>\n    </tbody>\n</table>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":180,"y":440,"wires":[[]]},{"id":"ad31b17763fe03f8","type":"switch","z":"23c19b174b7b4f81","name":"check if DB empty","property":"$count(payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":280,"wires":[["ad5f149ea0673294"],["c4f59cb6bcd90cb1"]]},{"id":"e825af21ef668c2a","type":"debug","z":"23c19b174b7b4f81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":380,"wires":[]},{"id":"c4f59cb6bcd90cb1","type":"function","z":"23c19b174b7b4f81","name":"","func":"let p = msg.payload\n//    node.warn('before loop')\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    let d = new Date(msg.payload[i].last_seen);\n//    d.toLocaleString() \n  //  node.warn(d)\n//    msg.payload[i].last_seen = 'foo'\n    msg.payload[i].last_seen = d.toLocaleString(\"en-CA\")\n\n    let fb = msg.payload[i].firmware_build\n    fb = fb.split(\"_\");\n    msg.payload[i].firmware_build = fb[0];\n//    node.warn(fb)\n\n    \n}\n\n//    node.warn('after loop')\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":340,"wires":[["a221ad43e6355aa6"]]},{"id":"5c56bfa6c3e493cb","type":"ui_ui_control","z":"23c19b174b7b4f81","name":"","events":"all","x":610,"y":80,"wires":[["e28f046eeef4e622"]]},{"id":"e9129bd561074688","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":220,"wires":[]},{"id":"fafcbafdf1040c9c","type":"inject","z":"23c19b174b7b4f81","name":"Select * from piinfo","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from piinfo","x":690,"y":620,"wires":[[]]},{"id":"4570c5bb16428703","type":"inject","z":"23c19b174b7b4f81","name":"Select * from memory","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from memory","x":700,"y":660,"wires":[[]]},{"id":"41ad85edfbb8d57f","type":"inject","z":"23c19b174b7b4f81","name":"Select * from discSpace","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from discSpace","x":700,"y":700,"wires":[[]]},{"id":"5374d0e041c9dbeb","type":"inject","z":"23c19b174b7b4f81","name":"Select * from Temperature","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from Temperature","x":710,"y":740,"wires":[[]]},{"id":"05efab5e45528bcb","type":"sqlite","z":"23c19b174b7b4f81","mydb":"47186c71.905e34","sqlquery":"msg.topic","sql":"select * from nodes order by ip;","name":"","x":690,"y":220,"wires":[["92293154a720b551","dea52d132b2e8158"]]},{"id":"607551c0293065ac","type":"ui_template","z":"23c19b174b7b4f81","group":"cac60a175231d699","name":"CSS for colors","order":3,"width":"0","height":"0","format":"<style>\n    .nr-dashboard-cardpanel {\n        border: 1px solid black;\n    }\n\n    #Home_Enter_the_IP_of_a_GHOST_device_and_press_DELETE_to_delete_it .nr-dashboard-cardcontainer > .visible,\n    #Home_Enter_the_IP_of_a_GHOST_device_and_press_DELETE_to_delete_it {\n        background-color: #ff9393 !important;\n        test-align: center;\n    }\n    .nr-dashboard-cardpanel > p {\n        text-align: center;\n        color: #000 !important;\n    }\n    .device_offline {\n        xbackground-color: #fcf2ba;\n        xbackground-color: #ff6457;\n        background-color: #ffa0a8;\n    }\n    .device_online {\n        background-color: #dcffcc; \n        color: #000000;\n    }\n    .warning_color {\n        background-color: #f3ffb8;\n    }\n    .warning_red {\n        background-color: #ff0000;\n    }\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":680,"y":560,"wires":[[]]},{"id":"be5846ddb2a62d96","type":"change","z":"23c19b174b7b4f81","name":"No data available","rules":[{"t":"set","p":"payload","pt":"msg","to":"No data available","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":260,"wires":[["c64c2fed0463bc83"]]},{"id":"143a6ed202eefd96","type":"ui_template","z":"23c19b174b7b4f81","group":"cac60a175231d699","name":"Raspberry Pi devices","order":1,"width":"12","height":"10","format":"<div id=\"et_home\">\n<h2 style=\"text-align: center;\">PyPI Display Home {{msg.etdh_version}}</h2>\n<p style=\"text-align: center;\">List of Raspberry Pi's found on the LAN<p>\n\n<br/>\n<table id=\"table\" border=\"1\">\n    <tr>\n        <th>Hostname</th> \n        <th>IP</th> \n        <th>Last Seen</th> \n        <th>Model</th>\n        <th>OS</th>\n        <th>Disk Used</th>\n        <th>Temperature</th>\n    </tr>\n    <tbody style=\"text-align: center\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td ng-if=\"x.device_status ==  'database is empty'\" class=\"warning_red\" >DATABASE IS EMPTY</td>\n \n            <td ng-if='x.device_status ==  1' class=\"device_online\" >{{x.hostname}}</td>\n            <td ng-if='x.device_status ==  0' class=\"device_offline\">{{x.hostname}}</td>\n            \n            <td>\n                <a href=\"http://{{x.ip}}\" target=\"_blank\"> {{x.ip}} </a>\n            </td>\n\n            <td ng-if='x.device_status ==  1' class=\"device_last_seen\"  >{{x.date_time}} </td>\n            <td ng-if='x.device_status ==  0' class=\"device_last_seen\"  >{{x.date_time}} </td>\n\n            <td ng-if='x.device_status ==  1' class=\"device_last_seen\"  >{{x.model}} </td>\n            <td ng-if='x.device_status ==  0' class=\"device_last_seen\"  >{{x.model}} </td>\n\n\n            <td ng-if='x.device_status ==  1' class=\"device_last_seen\"  >{{x.osrelease}} </td>\n            <td ng-if='x.device_status ==  0' class=\"device_last_seen\"  >{{x.osrelease}} </td>\n\n\n            <td ng-if='x.device_status ==  1' class=\"device_last_seen\"  >{{x.disk_percentused}} </td>\n            <td ng-if='x.device_status ==  0' class=\"device_last_seen\"  >{{x.disk_percentused}} </td>\n\n            <td ng-if='x.device_status ==  1' class=\"device_last_seen\"  >{{x.temperature}} </td>\n            <td ng-if='x.device_status ==  0' class=\"device_last_seen\"  >{{x.temperature}} </td>\n\n            \n         </tr>\n    </tbody>\n</table>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":700,"y":480,"wires":[[]]},{"id":"92293154a720b551","type":"switch","z":"23c19b174b7b4f81","name":"check if DB empty","property":"$count(payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":690,"y":280,"wires":[["be5846ddb2a62d96","238465554b72717b"],["d3f17ea5078eaf04","ea08251f76296b98"]]},{"id":"a0b853683c2f1b3f","type":"debug","z":"23c19b174b7b4f81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":440,"wires":[]},{"id":"54159f0b57c3e08e","type":"function","z":"23c19b174b7b4f81","name":"","func":"let p = msg.payload\n//    node.warn('before loop')\n\n//for (let i = 0; i < p.length; i++) {\nfor (let i = 0; i < msg.payload.length; i++) {\n    let d = new Date(msg.payload[i].last_seen);\n//    d.toLocaleString() \n  //  node.warn(d)\n//    msg.payload[i].last_seen = 'foo'\n    msg.payload[i].last_seen = d.toLocaleString(\"en-CA\")\n\n    let fb = msg.payload[i].firmware_build\n    fb = fb.split(\"_\");\n    msg.payload[i].firmware_build = fb[0];\n//    node.warn(fb)\n\n    \n}\n\n//    node.warn('after loop')\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":400,"wires":[[]]},{"id":"238465554b72717b","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":220,"wires":[]},{"id":"c64c2fed0463bc83","type":"ui_toast","z":"23c19b174b7b4f81","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1170,"y":260,"wires":[[]]},{"id":"dea52d132b2e8158","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":140,"wires":[]},{"id":"8ae010a0d4cfdea3","type":"catch","z":"23c19b174b7b4f81","name":"","scope":null,"uncaught":false,"x":1180,"y":100,"wires":[["226d62edb39c4052"]]},{"id":"e28f046eeef4e622","type":"change","z":"23c19b174b7b4f81","name":"select * from piinfo","rules":[{"t":"set","p":"topic","pt":"msg","to":"select * from piinfo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":140,"wires":[["05efab5e45528bcb"]]},{"id":"d3f17ea5078eaf04","type":"function","z":"23c19b174b7b4f81","name":"Setup data for inserts","func":"let payloads = msg.payload\nlet piData = {}\nlet data = {}\n//node.warn(\"debug 01\")\nfor (let i = 0; i < msg.payload.length; i++) {\n    let d = new Date(msg.payload[i].date_time);\n    msg.payload[i].date_time = d.toLocaleString(\"en-CA\")\n    msg.payload[i].device_status = 1\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":340,"wires":[["a0b853683c2f1b3f","a0c578b1651ec873","143a6ed202eefd96"]]},{"id":"b60b5407e689d52c","type":"inject","z":"23c19b174b7b4f81","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":800,"y":60,"wires":[["e28f046eeef4e622"]]},{"id":"ea08251f76296b98","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":360,"wires":[]},{"id":"a0c578b1651ec873","type":"ui_chart","z":"23c19b174b7b4f81","name":"","group":"cac60a175231d699","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":970,"y":480,"wires":[[]]},{"id":"226d62edb39c4052","type":"debug","z":"23c19b174b7b4f81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":160,"wires":[]},{"id":"a9051371c90a35e8","type":"sqlite","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","mydb":"47186c71.905e34","sqlquery":"msg.topic","sql":"","name":"process SQLite commands","x":740,"y":440,"wires":[["e79c42a366142fca"]]},{"id":"6dda6714f77d705a","type":"comment","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"Create the 'piinfo' tables","info":"","x":370,"y":460,"wires":[]},{"id":"31b5ba9c65f95549","type":"inject","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"Drop and create the tables","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":200,"wires":[["fe788ba933e93c84"]]},{"id":"0558ff92e77f1bd6","type":"comment","z":"fc53bb528124ae68","g":"c3efd75ee41c62a0","name":"This will drop and create the tables. WARNING: running this will wipe out any data already in the tables. ","info":"(Manual) - Run this flow once when installing or if the release notes say \nto upgrade the database.\n\nThe reason this drops and recreates the tables is in the case where new columns\nare being added to one of the tables. \n\n(Yes I know that you could use ALTER but this seems easier to maintain in this case.)","x":530,"y":100,"wires":[]},{"id":"e79c42a366142fca","type":"debug","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":440,"wires":[]},{"id":"92bf3c6fe42e0032","type":"catch","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"","scope":null,"uncaught":false,"x":820,"y":240,"wires":[["2321a66fa233387d"]]},{"id":"2321a66fa233387d","type":"debug","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":300,"wires":[]},{"id":"48fdedc35827b24e","type":"template","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"CREATE TABLE Temperature","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE Temperature (\n    hostname         TEXT, \n    date_time        INTEGER,\n    temperature      REAL\n)","output":"str","x":380,"y":620,"wires":[["f62f238f1cd32f2c"]]},{"id":"a7e999109aa3a264","type":"template","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"CREATE TABLE discSpace","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE discSpace (\n    hostname         TEXT, \n    date_time        INTEGER,\n    disk_size        INTEGER,\n    disk_used        INTEGER,\n    disk_avaliable   INTEGER,\n    disk_percentused TEXT\n)","output":"str","x":380,"y":580,"wires":[["f62f238f1cd32f2c","13fdb657d4470ae9"]]},{"id":"0672c9047a1c8a69","type":"template","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"CREATE TABLE memory","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE memory (\n    hostname         TEXT, \n    date_time        INTEGER,\n    available_mem    INTEGER,\n    buff_cache       INTEGER,\n    free_mem         INTEGER,\n    shared_mem       INTEGER,\n    totalmem         INTEGER,\n    used_mem         INTEGER,\n    free_swap        INTEGER,\n    total_swap       INTEGER,\n    used_swap        INTEGER\n )","output":"str","x":370,"y":540,"wires":[["5d608ad38a621157","f62f238f1cd32f2c"]]},{"id":"0a6b2f89f623afb6","type":"template","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"CREATE TABLE piinfo","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE piinfo (\n    hostname         TEXT PRIMARY KEY, \n    date_time        INTEGER,\n    ip               TEXT,\n    model            TEXT,\n    osrelease        TEXT,\n    temperature      REAL,\n    disk_percentused TEXT,\n    grafana          TEXT,\n    influx           TEXT,\n    mosquitto        TEXT,\n    netatalk         TEXT,\n    nginx            TEXT,\n    nodered          TEXT,\n    php              TEXT,\n    python3          TEXT,\n    sqlite3          TEXT\n)","output":"str","x":360,"y":500,"wires":[["f62f238f1cd32f2c","0ed3ee9b9f30f2d0"]]},{"id":"13fdb657d4470ae9","type":"delay","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":620,"wires":[["48fdedc35827b24e"]]},{"id":"0ed3ee9b9f30f2d0","type":"delay","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":540,"wires":[["0672c9047a1c8a69"]]},{"id":"5d608ad38a621157","type":"delay","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":580,"wires":[["a7e999109aa3a264"]]},{"id":"47704f0744a52989","type":"template","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"DROP TABLE Temperature","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE IF EXISTS Temperature;","output":"str","x":380,"y":380,"wires":[["ea83a1d0cbac9f6d"]]},{"id":"b87c14e491934cc6","type":"template","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"DROP TABLE discSpace","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE IF EXISTS discSpace;","output":"str","x":370,"y":340,"wires":[["ea83a1d0cbac9f6d","0a6b2f89f623afb6","e86e953b70aa9205"]]},{"id":"70ef6e918f1542ba","type":"template","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"DROP TABLE memory","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" DROP TABLE IF EXISTS memory;","output":"str","x":360,"y":300,"wires":[["463a9bbdfa58b14b","ea83a1d0cbac9f6d"]]},{"id":"fe788ba933e93c84","type":"template","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"DROP TABLE piinfo","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE IF EXISTS piinfo;\n","output":"str","x":350,"y":260,"wires":[["ea83a1d0cbac9f6d","311c6b108ad266de"]]},{"id":"e86e953b70aa9205","type":"delay","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":380,"wires":[["47704f0744a52989"]]},{"id":"311c6b108ad266de","type":"delay","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":300,"wires":[["70ef6e918f1542ba"]]},{"id":"463a9bbdfa58b14b","type":"delay","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":340,"wires":[["b87c14e491934cc6"]]},{"id":"f62f238f1cd32f2c","type":"link out","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"to process SQL","mode":"link","links":["8597b39081624f7f"],"x":635,"y":560,"wires":[]},{"id":"8597b39081624f7f","type":"link in","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"process SQL","links":["f62f238f1cd32f2c","ea83a1d0cbac9f6d"],"x":575,"y":440,"wires":[["a9051371c90a35e8"]]},{"id":"ea83a1d0cbac9f6d","type":"link out","z":"fc53bb528124ae68","g":"c892cc02109e2a7d","name":"to process SQL","mode":"link","links":["8597b39081624f7f"],"x":635,"y":320,"wires":[]}]
